@import 'mixins/animations';
@import 'mixins/fonts';
@import 'mixins/polyfills';
@import 'mixins/module-naming';

@import 'bootstrap_overrides';
@import 'bootstrap';
@import 'geomicons';

@import 'modules/btn';
@import 'modules/faq';
@import 'modules/footer';
@import 'modules/media-vertical';
@import 'modules/menu-icon';
@import 'modules/nav-header';
@import 'modules/post';
@import 'modules/resource';
@import 'modules/section';

.browsehappy {
    @include make-sm-column(8);
    @include make-sm-column-offset(12);

    background: #fff;
    display: none;

    font: {
        size: 18px;
        weight: 300;
    };
    margin: {
        bottom: 40px;
        top: 40px;
    };
    text-align: center;

    a {
        color: #259FFF;
    }

    span {
        font-weight: 600;
    }
}

.mz-no-generatedcontent {
    .browsehappy {
        display: block;
    }
}

.container-fluid {
    max-width: 1280px;
}

.navbar-default {
    background: #fff;
    padding: {
        bottom: 10px;
        top: 10px;
    }

    .navbar--donate {
        color: #fff !important;
        font-weight: 700;
        margin: {
            left: 10px;
            right: 20px;
            top: 7px;
        }
        padding: {
            bottom: 5px;
            top: 5px;
        }

        &:hover, &:focus {
            background-color: lighten($brand-primary, 10%) !important;
        }
    }
}

.btn {
    font-family: $font-family-sans-serif;
}

.btn-secondary {
    background: $brand-secondary;
    color: #fff;
    padding: 10px 25px;

    &:hover {
        color: #fff;
    }

    &:hover, &:focus {
        background-color: lighten($brand-secondary, 5%) !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
