{% extends "_layout" %}

{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-6.col-sm-offset-3 News
            {% for entry in craft.entries.section('news') %}
            .article.row
                .col-sm-6.col-sm-offset-3
                    .article--photo
                        %a{ href: '/news/{{ entry.slug }}' }
                            %img{ data: { src: '{{ entry.articlePhoto.first().url }}' } }
                    %h2 {{ entry.title }}
                    %span.post--date {{ entry.postDate | date("F j, Y") }}
                    %p {{ entry.excerpt }}

                    %a.post--more.btn.btn-secondary{ href: '/news/{{ entry.slug }}' } Read More
            {% endfor %}

{% endblock %}
