{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-6 col-sm-offset-3'>News</h1>
      {% for entry in craft.entries.section('news') %}
      <div class='article row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <div class='article--photo'>
            <a href='/news/{{ entry.slug }}'>
              <img data-src='{{ entry.articlePhoto.first().url }}'>
            </a>
          </div>
          <h2>{{ entry.title }}</h2>
          <span class='post--date'>{{ entry.postDate | date("F j, Y") }}</span>
          <p>{{ entry.excerpt }}</p>
          <a class='post--more btn btn-secondary' href='/news/{{ entry.slug }}'>Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
