.btn {
    [class *= "geomicon"] {
        font-size: 11px;
        margin-left: 5px;
    }
}

.btn_more {
    @extend .btn;

    margin-top: 14px;
}

.btn-secondary:focus,
.btn-secondary:active, {
    color: #fff;
}

.btn-tertiary {
    color: $brand-tertiary-dark;
    background: transparent;
    border: 2px solid $brand-tertiary-dark;

    &:hover {
        color: #fff;
        background: $brand-tertiary-dark;
    }
}

.btn-wired {
    border: 2px solid $brand-primary;
    border-radius: 20px;
    color: $brand-primary;
    padding: 2px 20px;
    transition: background 200ms, color 200ms;

    &:hover {
        background: $brand-primary;
        color: #fff;
    }
}

.btn-secondary.btn-secondary_pill {
    border-radius: 25px;
    padding: 5px 34px 5px 40px;

    &:focus {
        color: #fff;
    }
}

.btn-secondary_pill.btn-facebook {
    background: #395998;
    border-radius: 25px;
    color: #fff;
    padding: 5px 34px 5px 40px;

    &:hover {
        background-color: lighten(#395998, 15%);
    }

    &:focus {
        color: #fff;
    }
}

.btn-secondary_pill.btn-twitter {
    background: #54acee;
    border-radius: 25px;
    color: #fff;
    padding: 5px 34px 5px 40px;

    &:hover {
        background-color: lighten(#54acee, 10%);
    }

    &:focus {
        color: #fff;
    }
}
