.faq {
    &--question {
        color: $brand-primary;
        font-size: 18px;
        margin-top: 55px;
    }

    &--question-links {
        margin-bottom: 50px;
    }

    &--question-link {
        margin-bottom: 5px;

        a {
            color: $text-color;
        }
    }
}
