.footer {
    background: #f2f2f2;
    font-family: $font-family-sans-serif;
    text-align: center;

    &--callout {
        background: $brand-primary;
        color: #fff;
        padding: 25px 0 40px;

        h3 {
            font: {
                family: $font-family-sans-serif;
                size: 18px;
                weight: 400;
            }
        }

        a {
            padding: 10px;
            position: relative;
            top: 10px;
            transition: opacity 100ms;

            &:hover {
                opacity: .75;
            }
        }

        svg {
            width: 18px;
        }

        input.email {
            border: 2px solid #fff;
            box-shadow: none;
            display: inline-block;
            width: 250px;
            vertical-align: middle;
        }

        button {
            background: $brand-primary;
            border: 2px solid #fff;
            margin-left: -5px;
            padding: 5px 25px;
            transition: background 200ms, box-shadow 200ms, color 200ms;

            &:focus {
                color: #fff;
            }

            &:hover {
                background: #fff;
                box-shadow: -2px 0 $brand-primary;
                color: $brand-primary;
            }
        }
    }

    &--callout-form {
        border-bottom: 1px solid $brand-logo;
        padding-bottom: 35px;

        @media (min-width: $screen-sm-min) {
            border: {
                bottom: none;
                right: 1px solid $brand-logo;
            }
            padding-bottom: 0;
        }
    }

    &--about {
        padding: 100px 0;

        a {
            color: $brand-primary;
        }

        .footer--links .footer--separator {
            color: $brand-primary;
        }
    }

    &--disclaimer {
        border: {
            bottom: 5px solid $brand-primary;
            top: 1px solid #ccc;
        }
        color: #888;
        font-size: 16px;
        padding: 20px;
    }

    &--contact-info {
        margin-bottom: 15px;

        .footer--separator {
            display: none;

            @media (min-width: $screen-sm-min) {
                @include display-inline-block();
            }
        }
    }

    &--address,
    &--phone {
        display: block;
    }

    &--company {
        display: block;
        font-weight: 700;
    }

    @media (min-width: $screen-sm-min) {
        &--company,
        &--address,
        &--phone {
            @include display-inline-block();
        }
    }

    &--separator {
        font-size: 14px;
        padding: 0 10px;
        position: relative;
        top: -2px;
    }
}
