.media-vertical {
    h2 {
        color: $brand-tertiary-dark;
        margin: {
            bottom: 30px;
            top: 55px;
        }
    }

    p {
        font-family: $font-family-sans-serif;
    }

    .media-vertical--container {
        background: #fff;
        margin: 0 auto;
        min-height: 600px;
        max-width: 380px;
        padding: 0 30px;
        position: relative;

        > a {
            color: $brand-tertiary-dark;
        }

        @media (min-width: $screen-sm-min) {
            min-height: 800px;
        }

        @media (min-width: $screen-md-min) {
            min-height: 690px;
        }

        @media (min-width: $screen-lg-min) {
            min-height: 620px;
        }
    }
}

.media-vertical_events {
    @extend .media-vertical;

    h2 {
        margin: {
            bottom: 15px;
            top: 35px;
        }
    }

    p {
        padding-bottom: 20px;
    }

    .media-vertical--container {
        min-height: 400px;
        padding: 0 30px;
        position: relative;

        @media (min-width: $screen-sm-min) {
            min-height: 520px;
        }

        @media (min-width: $screen-md-min) {
            min-height: 490px;
        }
    }

    .media-vertical--media {
        margin: {
            left: -30px;
            right: -30px;
        }

        > a > img {
            width: 100%;
        }
    }
}

.media-vertical_services {
    @extend .media-vertical;

    .media-vertical--more {
        border-top: 2px solid $brand-tertiary-light;
        bottom: 0;
        color: #333;
        display: block;
        font-weight: 700;
        margin: 50px -30px 0px;
        padding: 20px 30px 20px;
        position: absolute;
        text-align: left;
        width: 100%;

        .geomicon-arrow-right {
            float: right;
            font-size: 14px;
            margin-top: 4px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .media-vertical--container {
        background: #fff;
        min-height: 600px;
        padding: 0 30px;
        position: relative;

        @media (min-width: $screen-sm-min) {
            min-height: 800px;
        }

        @media (min-width: $screen-md-min) {
            min-height: 690px;
        }

        @media (min-width: $screen-lg-min) {
            min-height: 620px;
        }
    }

    .media-vertical--media {
        height: 250px;
        text-align: center;
        margin: {
            left: -30px;
            right: -30px;
        }

        > img,
        > svg {
            margin-top: 50px;
            width: 155px;
        }
    }
}
