.post {
//    @include make-row();

    &--body {
//        @include make-xs-column(10);
//        @include make-xs-column-offset(1);
    }

    & + & {
        margin-top: 50px;
    }

    &--date {
        display: block;
        margin-bottom: 20px;
    }

    &--more {
        margin-top: 20px;
    }

    &--image {
        margin-top: 30px;
        width: 100%;
    }
}
