.post {
    @include make-row();

    & + & {
        margin-top: 25px;
    }

    .post--container {

    }

    .post--date {
        display: block;
        margin-bottom: 20px;
    }

    .post--more {
        margin-top: 20px;
    }

    .post--image {
        margin-top: 30px;
        width: 100%;
    }
}