.section {
    margin-bottom: 100px;

    .section--title {
        margin: {
            bottom: 60px;
            top: 75px;
        }
        text-align: center;
    }

    .section--subtitle {
        margin-top: 50px;
    }

    .section--more {
        background: $brand-secondary-dark-blue;
        color: #333;
        font-weight: 700;
        margin-top: 50px;
        padding: 12px;

        .geomicon-arrow-right {
            font-size: 14px;
            margin: {
                left: 5px;
                top: 4px;
            }
        }

        &.is-full {
            width: 100%;
        }
    }

    .section--body {
        li {
            margin-bottom: 5px;
        }
    }

    .section--centered {
        text-align: center;
    }
}

.section_callout {
    @extend .section;
    background: $brand-secondary;
    padding-bottom: 100px;
}

.section_resources {
    @extend .section;

    h2 {
        margin-top: 50px;
    }

    a {
        display: block;
        margin-bottom: 7px;
    }

    label {
        margin-bottom: 0;
    }

    .section_resources--item {
        margin-bottom: 20px;
    }
}