.section {
    padding-bottom: 100px;
    padding-top: 50px;

    &--title {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-tertiary-dark;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    &--title_secondary {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-secondary;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    &--title_secondary_centered {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }
        text-align: center;

        &:after {
            background: $brand-secondary;
            content: '';
            display: block;
            height: 4px;
            left: 50%;
            margin-top: 25px;
            margin-left: -35px;
            position: relative;
            width: 70px;
        }
    }

    .section--subtitle {
        margin-top: 50px;
    }

    .section--more {
        color: #333;
        font-weight: 700;
        margin-top: 50px;
        padding: 12px;

        .geomicon-arrow-right {
            font-size: 14px;
            margin: {
                left: 5px;
                top: 4px;
            }
        }

        &.is-full {
            width: 100%;
        }
    }

    .section--body {
        li {
            margin-bottom: 5px;
        }
    }

    .section--centered {
        text-align: center;
    }
}

.section_callout {
    @extend .section;
    background: $brand-tertiary-light;
    padding: {
        bottom: 100px;
        top: 50px;
    }
}

.section_blank {
    @extend .section;

    .section--title {
        text-align: center;

        &:after {
            display: none;
        }
    }

    p {
        text-align: center;
    }
}

.section_short {
    @extend .section;

    padding-bottom: 0;
}

.section_clear {
    padding: {
        bottom: 0;
        top: 0;
    }
}

.section_bordered {
    @extend .section;

    & + & {
        border-top: 2px solid $brand-tertiary-light;
    }
}

.section_progress {
    position: relative;

    .progress-steps {
        bottom: -32px;
        position: absolute;
    }
}
