.section {
    padding-bottom: 100px;
    padding-top: 50px;

    &--title {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-tertiary-dark;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    &--title_secondary {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-secondary;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    .section--subtitle {
        margin-top: 50px;
    }

    .section--more {
//        background: $brand-secondary-dark-blue;
        color: #333;
        font-weight: 700;
        margin-top: 50px;
        padding: 12px;

        .geomicon-arrow-right {
            font-size: 14px;
            margin: {
                left: 5px;
                top: 4px;
            }
        }

        &.is-full {
            width: 100%;
        }
    }

    .section--body {
        li {
            margin-bottom: 5px;
        }
    }

    .section--centered {
        text-align: center;
    }
}

.section_callout {
    @extend .section;
    background: $brand-tertiary-light;
    padding: {
        bottom: 100px;
        top: 50px;
    }
}

.section_resources {
    @extend .section;

    h2 {
        margin-top: 50px;
    }

    a {
        display: block;
        margin-bottom: 7px;
    }

    label {
        margin-bottom: 0;
    }

    .section_resources--item {
        margin-bottom: 20px;
    }
}