.section {
    padding-bottom: 100px;
    padding-top: 50px;

    &--title {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-tertiary-dark;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    &--title-center {
        color: $brand-primary;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
    }

    &--title-center-alt {
        margin-bottom: 50px;
        text-align: center;
    }

    &--title_secondary {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }

        &:after {
            background: $brand-secondary;
            content: '';
            display: block;
            height: 4px;
            margin-top: 25px;
            width: 70px;
        }
    }

    &--title_secondary_centered {
        font-weight: 700;
        margin: {
            bottom: 30px;
            top: 50px;
        }
        text-align: center;

        &:after {
            background: $brand-secondary;
            content: '';
            display: block;
            height: 4px;
            left: 50%;
            margin-top: 25px;
            margin-left: -35px;
            position: relative;
            width: 70px;
        }
    }

    .section--subtitle {
        margin-top: 50px;
    }

    .section--more {
        color: #333;
        font-weight: 700;
        margin-top: 50px;
        padding: 12px;

        .geomicon-arrow-right {
            font-size: 14px;
            margin: {
                left: 5px;
                top: 4px;
            }
        }

        &.is-full {
            width: 100%;
        }
    }

    .section--body {
        li {
            margin-bottom: 5px;
        }
    }

    .section--centered {
        text-align: center;
    }
}

.section_callout {
    @extend .section;
    background: $brand-tertiary-light;
    padding: {
        bottom: 100px;
        top: 50px;
    }
}

.section_blank {
    @extend .section;

    .section--title {
        text-align: center;

        &:after {
            display: none;
        }
    }

    p {
        text-align: center;
    }
}

.section_background {
    @extend .section;
    background: {
        position: center center;
        size: cover;
    }
    padding: {
        bottom: 150px;
        top: 100px;
    }
    position: relative;
    @include poly-background-size();

    &--overlay,
    &--overlay-light {
        height: 100%;
        left: 0;
        opacity: .8;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .section--title {
        text-align: center;

        &:after {
            display: none;
        }
    }

    p {
        text-align: center;
    }
}

.section_background_services {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }

    &--buttons {
        margin-top: 50px;
        text-align: center;

        .btn {
            margin-bottom: 15px;
        }
    }
}

.section_background_about {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }

    &--buttons {
        margin-top: 50px;
        text-align: center;

        .btn {
            margin-bottom: 15px;
        }
    }
}

.section_background_about-contact {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-map.jpg");
    color: #fff;
    padding-bottom: 150px;

    .section_background--overlay {
        background: $brand-tertiary-dark;
        opacity: .7;
    }

    .section--title {
        font-weight: 400;
        margin-bottom: 60px;
    }

    p {
        text-align: left;
    }
}

.section_background_staff {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }
}

.section_background_internships {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }
}

.section_background_volunteer {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }
}

.section_background_jobs {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-6.jpg");
    color: #fff;

    .section_background--overlay {
        background: $brand-tertiary-dark;
    }
}

.section_background_publications-services {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-publications.jpg");

    .section_background--overlay {
        opacity: 0;
        background: #fff;
    }

    &--cover {
        height: 185px;

        @media (min-width: $screen-sm-min) {
            height: 300px;
        }

        @media (min-width: $screen-md-min) {
            height: 220px;
        }

        @media (min-width: $screen-lg-min) {
            height: 190px;
        }

        > a {
            display: block;
            background-size: cover;
            height: 100%;
            width: 100%;
            @include poly-background-size();
        }
    }
}

.section_background_events {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-5.jpg");

    .section_background--overlay {
        background: #fff;
        opacity: .9;
    }
}

.section_background_testing {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-2.jpg");

    .section_background--overlay {
        background: #fff;
        opacity: .95;
    }
}

.section_background_donation {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-hands.jpg");
    color: #fff;

    .section_background--overlay {
        background: #000;
        opacity: .5;
    }
}

.section_background_clientstories {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-group.jpg");

    .section_background--overlay {
        background: #fff;
        opacity: .85;
    }
}

.section_background_home {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-hope.jpg");
    padding: {
        bottom: 220px;
        top: 150px;
    }
    position: relative;

    .section_background--overlay {
        background: #fff;
        opacity: .4;
    }

    .section--title {
        font: {
            family: $font-family-serif;
            size: 30px;
            weight: 400;
        }
        line-height: 50px;
        margin-bottom: 70px;

        @media (min-width: $screen-sm-min) {
            font-size: 37px;
            margin-bottom: 30px;
        }
    }
}

.section_background_home-services {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-map.jpg");
    padding-bottom: 80px;

    .section_background--overlay {
        background: #fff;
        opacity: .85;
    }

    .section--title {
        font-weight: 400;
        margin-bottom: 60px;
    }

    &--more {
        margin-top: 100px;

        .btn {
            margin-top: 20px;
        }
    }

    p {
        text-align: left;
    }
}

.section_background_home-impact {
    @extend .section_background;
    background-image: url("/images/backgrounds/bg-3.jpg");

    .section_background--overlay {
        background: #71bcce;
        opacity: .94;
    }

    .section--title {
        color: #fff;
    }
}

.section_short {
    @extend .section;

    padding-bottom: 0;
}

.section_clear {
    padding: {
        bottom: 0;
        top: 0;
    }
}

.section_bordered {
    @extend .section;

    & + & {
        border-top: 2px solid $brand-tertiary-light;
    }
}

.section_progress {
    position: relative;

    .progress-steps {
        bottom: -32px;
        position: absolute;
    }
}
