.testing {
    &--jumbotron {
        text-align: center;

        .section--title {
            margin-top: 30px;
        }
    }

    &--ribbon {
        margin-top: 25px;
        width: 20px;
    }

    &--introduction {
        margin-bottom: 40px;
        padding-bottom: 40px;
        position: relative;

        &:after {
            border-bottom: 2px solid #eee;
            bottom: 0;
            content: '';
            left: 50%;
            margin-left: -125px;
            position: absolute;
            width: 250px;
        }
    }

    &--form-of {
        float: left;
        font-size: 18px;
        position: relative;
        top: 15px;
        width: 10%;
    }

    &--radius {
        cursor: pointer;
        position: relative;
        border-bottom: 2px solid #aaa;
        float: left;
        top: 7px;
        width: 30%;

        > select {
            color: $brand-secondary;
            cursor: pointer;
            max-width: 100%;
            padding: 0px 21px 6px 10px;
            border: none;
            background-color: transparent;
            font: {
                family: $font-family-sans-serif;
                size: 18px;
            }
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;

            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &:after {
            content: " ";
            position: absolute;
            top: 50%;
            margin-top: -2px;
            right: 8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #aaa;
        }
    }

    &--location-form {
        .form-inline &.form-group > input.form-control[type="text"] {
            background: transparent;
            border-bottom-width: 2px;
            color: $brand-secondary;
            text-align: center;
            margin-right: 5%;
            top: 15px;
            @include placeholder($brand-secondary);
            width: 55%;
        }
    }

    &--filter.btn-secondary {
        margin-top: 5px;
        padding: {
            bottom: 5px;
            top: 5px;
        }
    }

    &--location {
        border: 2px solid $brand-tertiary-light;
        height: 775px;
        margin: 20px auto;
        max-width: 480px;
        overflow: hidden;
        position: relative;

        @media (min-width: $screen-sm-min) {
            height: 650px;
        }
    }

    &--location-map {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        > img {
            height: 250px;

            @media (min-width: $screen-lg-min) {
                height: 225px;
            }
        }
    }

    .testing--location-overlay {
        background: $brand-tertiary-dark;
        border-bottom: 1px solid #ccc;
        height: 250px;
        left: 0;
        opacity: .85;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;

        @media (min-width: $screen-lg-min) {
            height: 225px;
        }
    }

    &--location-name {
        color: #fff;
        height: 250px;
        padding: 0 50px;
        position: relative;
        z-index: 3;

        > h2 {
            margin-bottom: 5px;
            font-size: 22px;
            height: 75px;
            line-height: 25px;

            @media (min-width: $screen-lg-min) {
                height: 50px;
            }
        }

        a {
            color: $brand-secondary;
        }
    }

    &--location-address {
        font: {
            family: $font-family-sans-serif;
            size: 16px;
            weight: 700;
        }
        height: 50px;
        line-height: 22px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &--location-details {
        font: {
            family: $font-family-sans-serif;
            size: 16px;
        }
        padding: 0 50px;

        > .row {
            margin-bottom: 10px;

            p {
                margin-bottom: 0;
            }

            label > span {
                color: #999;
                margin-right: 10px;
                position: relative;
                top: 1px;
            }
        }
    }

    &--location-links {
        font: {
            family: $font-family-sans-serif;
            size: 16px;
        }

        a:hover .geomicon-external,
        a:hover .geomicon-location {
            text-decoration: none;
        }

        a + a {
            padding-left: 40px;
        }

        .geomicon-external,
        .geomicon-location {
            font-size: 14px;
        }
    }

    &--location-phone {
        font: {
            family: $font-family-sans-serif;
            size: 16px;
        }
        margin-bottom: 10px;
    }

    .section--title_secondary_centered {
        margin-bottom: 80px;
    }

    &--notification {
        background: $brand-tertiary-light;
        border-top: 1px solid #aaa;
        font-family: $font-family-sans-serif;
        padding: 20px 0;
        text-align: center;

        .btn-tertiary {
            margin-left: 25px;
            padding: 0 20px;
        }
    }

    &--no-locations {
        color: #ccc;
        font: {
            family: $font-family-sans-serif;
            size: 28px;
        }
        padding: 100px 0 200px 0;
        text-align: center;

        p {
            margin-bottom: 0;
        }

        a {
            color: #ccc;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
