{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title {{ entry.title }}
            .row
                .col-sm-6.col-sm-offset-3
                    %label {{ entry.postDate | date("F j, Y") }}
                    %p {{ entry.body }}
                    %br
                    %a.btn.btn-secondary{ href: '{{ entry.jobOpeningDocument.first().url }}' } Download PDF
{% endblock %}
