{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-6.col-sm-offset-3 {{ entry.title }}
            .row
                .col-xs-10.col-xs-offset-1
                    %label {{ entry.postDate | date("F j, Y") }}
                    %p {{ entry.body }}
                    %a{ href: '{{ entry.jobOpeningDocument.first().url }}' } Document
{% endblock %}
