{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}

%main#main-content
    %section.section_background_jobs
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title Job Openings
                    Providing Comprehensive HIV/AIDS Services in the Southern Tier of New York. Founded in 1984 as a local response to the HIV epidemic, Southern Tier AIDS program provides effective and innovative HIV and Hepatitis C prevention education.

    %section.section
        .container-fluid
            {% for entry in craft.entries.section('jobOpenings') %}
            .job.row
                .col-sm-6.col-sm-offset-3
                    %a.job--title{ href: '/jobs/{{ entry.slug }}' }
                        %h2 {{ entry.title }}
                    %p {{ entry.excerpt }}
                    %a.btn.btn-secondary{ href: '/jobs/{{ entry.slug }}' } View Posting
            {% endfor %}
{% endblock %}
