{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}

%main#main-content
    %section.section_background_jobs
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title Job Openings
                    {{ entry.pageIntroduction }}

    %section.section
        .container-fluid
            {% if craft.entries.section('jobOpenings') is empty %}
            .row
                .col-sm-6.col-sm-offset-3
                    %h2 No job openings available at this time
                    %p Thank you for your interest in STAP. All positions are currently filled. Please visit our site again for future job postings that may relate to your experience and talents.​
            {% endif %}
            {% for entry in craft.entries.section('jobOpenings') %}
            .job.row
                .col-sm-6.col-sm-offset-3
                    %a.job--title{ href: '/jobs/{{ entry.slug }}' }
                        %h2 {{ entry.title }}
                    %p {{ entry.excerpt }}
                    %a.btn.btn-secondary{ href: '/jobs/{{ entry.slug }}' } View Posting
            {% endfor %}
{% endblock %}
