{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
<main id='main-content'>
  <section class='section_background_jobs'>
    <div class='section_background--overlay'></div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Job Openings</h1>
          {{ entry.pageIntroduction }}
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      {% if craft.entries.section('jobOpenings') is empty %}
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h2>No job openings available at this time</h2>
          <p>Thank you for your interest in STAP. All positions are currently filled. Please visit our site again for future job postings that may relate to your experience and talents.​</p>
        </div>
      </div>
      {% endif %}
      {% for entry in craft.entries.section('jobOpenings') %}
      <div class='job row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <a class='job--title' href='/jobs/{{ entry.slug }}'>
            <h2>{{ entry.title }}</h2>
          </a>
          <p>{{ entry.excerpt }}</p>
          <a class='btn btn-secondary' href='/jobs/{{ entry.slug }}'>View Posting</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
