{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 {{ entry.title }}
            .row
                .col-xs-10.col-xs-offset-1
                    {% for faq in entry.faq %}
                    %h2 {{ faq.question }}
                    %p {{ faq.answer }}
                    {% endfor %}
{% endblock %}
