{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Frequently Asked Questions
            .row
                .col-xs-12
                    {% for entry in craft.entries.section('faq') %}
                    %h1.section--title.col-sm-8.col-sm-offset-2 {{ entry.title }}
                    .section--body.row
                        .col-xs-10.col-xs-offset-1
                            {% for faq in entry.faq %}
                            %h2.section--subtitle {{ faq.question }}
                            {{ faq.answer }}
                            {% endfor %}
                    {% endfor %}
{% endblock %}
