{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Frequently Asked Questions
            .row
                .col-xs-12
                    {% for entry in craft.entries.section('faq') %}
                    %h2
                        %a{ href: '/faq/{{ entry.slug }}' } {{ entry.title }}
                    {% endfor %}
{% endblock %}
