{% extends "_layout" %}
{% block content %}
%main#main-content{ ng: { controller: 'donationCancelCtrl' } }
    %section.section
        .container-fluid
            %h1.section--title Donations
            %div{ ng: { show: 'form.init && !form.cancelled', cloak: '' } }
                %form{ method: 'post', accept_charset: 'UTF-8' }
                    %p Click the button below to stop your monthly donations.
                    %button.btn.btn-primary{ ng: { click: 'submit()' } } Cancel donation
            %div{ ng: { show: 'form.init && form.cancelled', cloak: '' } }
                You've already successfully cancelled your monthly donation.
{% endblock %}
