<!DOCTYPE html>
<html id='ng-app' xmlns:ng='http://angularjs.org'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Southern Tier AIDS Program</title>
    <meta content='Founded in 1984, the Southern Tier AIDS Program provides supportive services to HIV+ persons and state of the art prevention education from 9 offices in an 8 county area.' name='Description'>
    <meta content='title' name='STAPinc.org'>
    <meta content='stap, southern tier aids programm, aids, help, hope, here, since 1984' name='Keywords'>
    <meta content='en' name='Language'>
    <meta content='STAP inc.' name='Author'>
    <meta content='office@STAPinc.org' name='Reply-to'>
    <meta content='internet' name='classification'>
    <meta content='all' name='robots'>
    <meta content='1 day' name='revisit-after'>
    <link href='/css/application.css' rel='stylesheet'>
    <script src='/js/vendor/modernizr.js'></script>
    <script src='/js/application.js'></script>
    <script src='//use.typekit.net/vhe1ish.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry,places'></script>
    <script>
      try{Typekit.load();}catch(e){}
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-45997711-8', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>
            <img src='/images/logo.png' style='width: 55px; margin-top: -15px;'>
          </a>
        </div>
        <div class='collapse navbar-collapse' id='navbar-collapse-1'>
          <ul class='nav navbar-nav navbar-right'>
            <li>
              <a href='/testing'>HIV Testing</a>
            </li>
            <li>
              <a href='/services'>Services</a>
            </li>
            <li>
              <a href='/events'>Events</a>
            </li>
            <li>
              <a href='/resources'>Resources</a>
            </li>
            <li>
              <a href='/faqtopics'>FAQ</a>
            </li>
            <li>
              <a href='/about'>About</a>
            </li>
            <li>
              <a class='navbar--donate btn btn-primary' href='/donation'>Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer id='footer'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-sm-7 col-sm-offset-1'>
            <div class='row'>
              <div class='col-xs-3'>
                <h3>Contact</h3>
                <ul>
                  <li>Binghamton</li>
                  <li>Johnson City</li>
                  <li>Elmira</li>
                  <li>Tompkins County</li>
                </ul>
              </div>
              <div class='col-xs-3'>
                <h3>About</h3>
                <ul>
                  <li>Staff</li>
                  <li>Job Openings</li>
                  <li>Volunteer</li>
                  <li>Internships</li>
                </ul>
              </div>
              <div class='col-xs-3'>
                <h3>FAQ</h3>
                <ul>
                  <li>HIV/AIDS</li>
                  <li>Condoms</li>
                  <li>STIs</li>
                  <li>Harm & Risk Reduction</li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-sm-4'>
            <div id='mc_embed_signup'>
              <img src='/images/logowhite.png'>
              <h3>Get Email Updates</h3>
              <form action='//stapinc.us10.list-manage.com/subscribe/post?u=6e2aebad0f9c25b08a995d4a9&amp;amp;id=d382e4949e' class='validate form-inline' id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' novalidate='' target='_blank'>
                <div id='mc_embed_signup_scroll'>
                  <div class='mc-field-group form-group'>
                    <label for='mce-EMAIL' style='display: none'>Email Address</label>
                    <input class='required email form-control' id='mce-EMAIL' name='EMAIL' placeholder='Enter your email address' type='email' value=''>
                  </div>
                  <button class='button btn' id='mc-embedded-subscribe' name='subscribe' type='submit'>Subscribe</button>
                  <div class='clear' id='mce-responses'>
                    <div class='response' id='mce-error-response' style='display:none;'></div>
                    <div class='response' id='mce-success-response' style='display:none;'></div>
                  </div>
                  <div style='position: absolute; left: -5000px;'>
                    <input name='b_6e2aebad0f9c25b08a995d4a9_d382e4949e' tabindex='-1' type='text' value=''>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
