!!!
%html{ id: 'ng-app', 'xmlns:ng' => 'http://angularjs.org' }
    %head
        %meta{ charset: 'utf-8' }
        %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
        %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

        %title Southern Tier AIDS Program

        %meta{ name: 'Description', content: 'Founded in 1984, the Southern Tier AIDS Program provides supportive services to HIV+ persons and state of the art prevention education from 9 offices in an 8 county area.' }
        %meta{ name: 'STAPinc.org', content: 'title' }
        %meta{ name: 'Keywords', content: 'stap, southern tier aids programm, aids, help, hope, here, since 1984' }
        %meta{ name: 'Language', content: 'en' }
        %meta{ name: 'Author', content: 'STAP inc.' }
        %meta{ name: 'Reply-to', content: 'office@STAPinc.org' }
        %meta{ name: 'classification', content: 'internet' }
        %meta{ name: 'robots', content: 'all' }
        %meta{ name: 'revisit-after', content: '1 day' }

        %link{ href: '/css/application.css', rel: 'stylesheet' }

        %script{ src: '/js/vendor/modernizr.js' }
        %script{ src: '/js/application.js' }
        %script{ src: '//use.typekit.net/vhe1ish.js' }
        %script{ src: '//maps.googleapis.com/maps/api/js?libraries=geometry,places' }
        %script{ src: 'https://js.stripe.com/v2/' }

        %script{ src: '/js/vendor/faker.min.js' }

        :javascript
            try{Typekit.load();}catch(e){}

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45997711-8', 'auto');
            ga('send', 'pageview');
    %body
        %nav.nav-header
            .container-fluid
                .nav-header--large.hidden-xs
                    .col-sm-2.col-lg-push-5.nav-header--logo
                        %a{ href: '/' }
                            %img{ src: '/images/logo.svg' }
                    .nav-header--left-nav-links.col-sm-5.col-lg-pull-2
                        .nav-header--item.col-sm-4.col-lg-3.col-lg-offset-1
                            %a{ href: '/testing', class: "{% if navPage == 'testing' %}is-active{% endif %}" } HIV&nbsp;Testing
                        .nav-header--item.col-sm-3.col-lg-2
                            %a{ href: '/services', class: "{% if navPage == 'services' %}is-active{% endif %}" } Services
                        .nav-header--item.col-sm-3
                            %a{ href: '/events', class: "{% if navPage == 'events' %}is-active{% endif %}" } Events
                        .nav-header--item.col-sm-2
                            %a{ href: '/faq', class: "{% if navPage == 'faq' %}is-active{% endif %}" } FAQ
                    .nav-header--right-nav-links.col-sm-5
                        .nav-header--item.col-sm-4.col-lg-3.col-lg-offset-1
                            %a{ href: '/resources', class: "{% if navPage == 'resources' %}is-active{% endif %}" } Resources
                        .nav-header--item.col-sm-3.col-lg-4
                            %a{ href: '/about', class: "{% if navPage == 'about' %}is-active{% endif %}" } About
                        .nav-header--item.col-sm-3
                            %a.btn.btn-wired{ href: '/donation' } Donate

                .nav-header--small.visible-xs
                    .nav-header--text-logo
                        %div Southern Tier
                        %div Aids Program
                    .nav-header--menu-title
                        {% if not navPage %}Home{% endif %}
                        {% if navPage == 'testing' %}HIV&nbsp;Testing{% endif %}
                        {% if navPage == 'services' %}Services{% endif %}
                        {% if navPage == 'events' %}Events{% endif %}
                        {% if navPage == 'faq' %}FAQ{% endif %}
                        {% if navPage == 'resources' %}Resources{% endif %}
                        {% if navPage == 'about' %}About{% endif %}
                        {% if navPage == 'donation' %}Donate{% endif %}
                    .nav-header--menu
                        menu

        {% block content %}
        {% endblock %}

        %footer#footer
            .container-fluid
                .row
                    .col-sm-7.col-sm-offset-1
                        .row
                            .col-xs-3
                                %h3 Contact
                                %ul
                                    %li Binghamton
                                    %li Johnson City
                                    %li Elmira
                                    %li Tompkins County
                            .col-xs-3
                                %h3 About
                                %ul
                                    %li Staff
                                    %li Job Openings
                                    %li Volunteer
                                    %li Internships
                            .col-xs-3
                                %h3 FAQ
                                %ul
                                    %li HIV/AIDS
                                    %li Condoms
                                    %li STIs
                                    %li Harm & Risk Reduction
                    .col-sm-4
                        #mc_embed_signup
                            %img{ src: '/images/logowhite.png' }
                            %h3 Get Email Updates
                            %form#mc-embedded-subscribe-form.validate.form-inline{ action: '//stapinc.us10.list-manage.com/subscribe/post?u=6e2aebad0f9c25b08a995d4a9&amp;id=d382e4949e', method: 'post', name: 'mc-embedded-subscribe-form', target: '_blank', novalidate: '' }
                                #mc_embed_signup_scroll
                                    .mc-field-group.form-group
                                        %label{ for: 'mce-EMAIL', style: 'display: none' } Email Address
                                        %input#mce-EMAIL.required.email.form-control{ type: 'email', value: '', name: 'EMAIL', placeholder: 'Enter your email address' }
                                    %button#mc-embedded-subscribe.button.btn{ type: 'submit', name: 'subscribe' } Subscribe
                                    #mce-responses.clear
                                        #mce-error-response.response{ style: 'display:none;' }
                                        #mce-success-response.response{ style: 'display:none;' }
                                    %div{ style: 'position: absolute; left: -5000px;' }
                                        %input{ type: 'text', name: 'b_6e2aebad0f9c25b08a995d4a9_d382e4949e', tabindex: '-1', value: '' }
