{% extends "_layout" %}
{% set navPage = 'about' %}
{% macro errorList(errors) %}
{% if errors %}
%ul.errors
    {% for error in errors %}
    %li {{ error }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% block content %}
%main#main-content
    %section.section_background_about
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title Who We Are
                    {{ entry.pageIntroduction }}
            .section_background_about--buttons.row
                .col-xs-12
                    %a.btn.btn-secondary{ href: '/staff' } Meet our team
                    &nbsp;
                    %a.btn.btn-clear-wired{ href: '/contact' } Contact Us

    %section.section_bordered
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title-center-alt Our Mission
                    {{ entry.pageSubIntroduction }}

    %section#opportunities.section_clear.section_bordered
        .container-full
            .row
                .col-lg-12.is-odd
                    .service
                        .row
                            .service--photo.col-xs-12.col-lg-6{ style: 'background-image: url("/images/backgrounds/bg-6.jpg")' }
                            .service--details.col-lg-7
                                .row
                                    .col-lg-11<
                                        .row
                                            .col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
                                                %h2.section--title Jobs &amp; Internships
                                                %p {{ entry.jobInternshipIntroduction }}
                                                %a.btn.btn-secondary{ href: '/jobs' } See Jobs
                                                &nbsp;
                                                %a.btn.btn-tertiary{ href: '/internships' } See Internships
            .row
                .col-lg-12.is-even
                    .service
                        .row
                            .service--photo.col-xs-12.col-lg-6{ style: 'background-image: url("/images/backgrounds/bg-3.jpg")' }
                            .service--details.col-lg-7
                                .row
                                    .col-lg-11<
                                        .row
                                            .col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
                                                %h2.section--title Volunteer with Us
                                                %p {{ entry.volunteerIntroduction }}
                                                %a.btn.btn-tertiary{ href: '/volunteer' } Become a Volunteer

    %section.section_background_publications-services.section_bordered{ style: 'background-color: #eef7f8' }
        {% set publicationOne = craft.entries.section('publications')[0].issues %}
        {% set publicationTwo = craft.entries.section('publications')[1].issues %}
        {% set allIssues = [publicationOne[0], publicationOne[1], publicationTwo[0], publicationTwo[1]] %}
        .section_background--overlay
        .container-fluid
            .row
                .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
                    .row
                        .col-xs-12
                            %h1.section--title-center-alt Publications
                    .row
                        {% for issue in allIssues | slice(0, 4) %}
                        .section_background_publications-services--cover.col-xs-3
                            %a{ href: '{{ issue.linkToIssue }}', style: 'background-image: url("{{ issue.coverImage.first().url }}")' }
                        {% endfor %}
                    .row
                        .col-xs-12.text-center
                            %br
                            %br
                            %a.btn.btn-secondary{ href: '/publications' } View all Publications



    %section.section_background_about-contact.section_bordered{ style: 'background-color: #eef7f8' }
        .section_background--overlay-light
        .section_background--overlay
        .container-fluid
            %h1.section--title-center-alt.col-sm-8.col-sm-offset-2 Contact Us

            {% for entry in craft.entries.section('contact') %}
            {% for location in entry.contactLocations | slice(0, 1) %}
            .contact.row
                .col-sm-5.col-sm-offset-4
                    %h2 {{ location.locationName }}
                    .contact--address1 {{ location.address1 }}
                    .contact--address2 {{ location.address2 }}
                    .contact--address3 {{ location.city }}, {{ location.state }} {{ location.zip }}
                    {% if location.hotline %}
                    .contact--phone Hotline: {{ location.hotline }}
                    {% endif %}
                    {% if location.phone %}
                    .contact--phone Phone: {{ location.phone }}
                    {% endif %}
                    {% if location.fax %}
                    .contact--phone Fax: {{ location.fax }}
                    {% endif %}
            {% endfor %}
            {% endfor %}
            .row
                .col-sm-5.col-sm-offset-4
                    %br
                    %a.btn_more.btn-secondary{ href: '/contact' } All Office Locations
                    &nbsp;
                    %a.btn_more.btn-clear-wired{ href: '/contact#send' } Send Us a Message
{% endblock %}
