{% extends "_layout" %}
{% set navPage = 'about' %}
{% macro errorList(errors) %}
{% if errors %}
<ul class='errors'>
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}
{% block content %}
<main id='main-content'>
  <section class='section_callout'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Our Mission</h1>
          {{ entry.pageIntroduction }}
          <a class='btn_more btn-secondary' href='/staff'>Meet Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-xs-11 col-xs-offset-1'>
              <h1 class='section--title'>Join Us</h1>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-xs-10 col-xs-offset-1'>
              <h2>Job Openings</h2>
              <p>{{ entry.jobOpeningsIntroduction }}</p>
              <a class='btn_more btn-secondary' href='/jobs'>See Jobs</a>
            </div>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-xs-10 col-xs-offset-1'>
              <h2>Internships</h2>
              <p>{{ entry.internshipsIntroduction }}</p>
              <a class='btn_more btn-secondary' href='/internships'>See Internships</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section_callout'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Get Involved</h1>
          {{ entry.volunteerIntroduction }}
          <a class='btn_more btn-secondary' href='/volunteer'>Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          {% for entry in craft.entries.section('contact') %}
          {% for location in entry.contactLocations | slice(0, 1) %}
          <div class='row'>
            <div class='col-xs-12'>
              <h1 class='section--title'>Contact Us</h1>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-7'>
              <h2>{{ location.locationName }}</h2>
              <p>{{ location.address1 }}</p>
              <p>{{ location.address2 }}</p>
              <p>{{ location.city }}, {{ location.state }} {{ location.zip }}</p>
              {% if location.hotline %}
              <p>Hotline: {{ location.hotline }}</p>
              {% endif %}
              {% if location.phone %}
              <p>Phone: {{ location.phone }}</p>
              {% endif %}
              {% if location.fax %}
              <p>Fax: {{ location.fax }}</p>
              {% endif %}
              <p>
                <a href='{{ location.mapLink }}'>Map</a>
              </p>
              <a class='btn_more btn-secondary' href='/contact'>See all locations</a>
            </div>
            <div class='col-sm-3 col-sm-offset-1'>
              {% set coordinates = location.latitude ~ ',' ~ location.longitude %}
              <img class='post--image' data-src='https://maps.googleapis.com/maps/api/staticmap?center={{ coordinates }}&amp;zoom=14&amp;size=150x150&amp;markers=size:mid%7Ccolor:red%7C{{ coordinates }}&amp;scale=2&amp;key=AIzaSyDGcxPj2JOF7ViOZELFJ3hEbpGKnZbwpmU'>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Send Us a Message</h1>
          <form accept-charset='UTF-8' action='/' method='post'>
            <input name='action' type='hidden' value='mandrillForm/sendMessage'>
            <input name='successRedirectUrl' type='hidden' value='success'>
            <div class='form-group'>
              <label for='fromEmail'>Your Email</label>
              <input class='form-control' id='fromEmail' name='fromEmail' type='text' value='{% if message is defined %}{{ message.fromEmail }}{% endif %}'>
              {% if message is defined %}
              {{ _self.errorList(message.getErrors('fromEmail')) }}
              {% endif %}
            </div>
            <div class='form-group'>
              <label for='message'>Message</label>
              <textarea class='form-control' cols='40' id='message' name='message' rows='5'>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
              {% if message is defined %}
              {{ _self.errorList(message.getErrors('message')) }}
              {% endif %}
            </div>
            <button class='btn_more btn-primary' type='submit'>Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
