{% extends "_layout" %}

{% macro errorList(errors) %}
{% if errors %}
%ul.errors
    {% for error in errors %}
    %li {{ error }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% block content %}
%main#main-content
    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Our Mission
            .row
                .col-sm-10.col-sm-offset-1
                    {{ entry.pageIntroduction }}
                    %br
                    .text-center
                        %a.post--more.btn.btn-secondary{ href: '/staff' } Meet Us

    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Join Us
            .row
                .col-sm-5.col-sm-offset-1
                    .post
                        .post--container
                            .row
                                .col-sm-11.col-sm-offset-1
                                    %h2 Job Openings
                                    %p {{ entry.jobOpeningsIntroduction }}
                                    %a.post--more.btn.btn-secondary{ href: '/jobs' } See Jobs
                .col-sm-5
                    .post
                        .post--container
                            .row
                                .col-sm-11.col-sm-offset-1
                                    %h2 Internships
                                    %p {{ entry.internshipsIntroduction }}
                                    %a.post--more.btn.btn-secondary{ href: '/internships' } See Internships

    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Get Involved
            .row
                .col-sm-8.col-sm-offset-2.text-center
                    {{ entry.volunteerIntroduction }}
                    %br
                    %a.post--more.btn.btn-secondary{ href: '/volunteer' } Learn more

    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Contact Us
            {% for entry in craft.entries.section('contact') %}
            {% for location in entry.contactLocations | slice(0, 1) %}
            .post
                .col-xs-10.col-xs-offset-1
                    .post--container
                        .row
                            .col-sm-7.col-sm-offset-1
                                %h2 {{ location.locationName }}
                                %p {{ location.address1 }}
                                %p {{ location.address2 }}
                                %p {{ location.city }}, {{ location.state }} {{ location.zip }}
                                {% if location.hotline %}
                                %p Hotline: {{ location.hotline }}
                                {% endif %}
                                {% if location.phone %}
                                %p Phone: {{ location.phone }}
                                {% endif %}
                                {% if location.fax %}
                                %p Fax: {{ location.fax }}
                                {% endif %}
                                %p
                                    %a{ href: '{{ location.mapLink }}' } Map
                                %a.post--more.btn.btn-secondary{ href: '/contact' } See all locations
                            .col-sm-3.col-sm-offset-1
                                {% set coordinates = location.latitude ~ ',' ~ location.longitude %}
                                %img.post--image{ data: { src: 'https://maps.googleapis.com/maps/api/staticmap?center={{ coordinates }}&zoom=14&size=150x150&markers=size:mid%7Ccolor:red%7C{{ coordinates }}&scale=2&key=AIzaSyDGcxPj2JOF7ViOZELFJ3hEbpGKnZbwpmU' } }
            {% endfor %}
            {% endfor %}

    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Send Us a Message
            .row
                .col-xs-8.col-xs-offset-2
                    %form.row{ method: 'post', action: '/', accept: { charset: 'UTF-8' } }
                        %input{ type: 'hidden', name: 'action', value: 'mandrillForm/sendMessage' }
                        %input{ type: 'hidden', name: 'successRedirectUrl', value: 'success' }

                        .form-group
                            %label{ for: 'fromEmail' } Your Email
                            %input#fromEmail.form-control{ type: 'text', name: 'fromEmail', value: '{% if message is defined %}{{ message.fromEmail }}{% endif %}' }

                            {% if message is defined %}
                            {{ _self.errorList(message.getErrors('fromEmail')) }}
                            {% endif %}

                        .form-group
                            %label{ for: 'message' } Message
                            %textarea#message.form-control{ rows: '10', cols: '40', name: 'message' }
                                {% if message is defined %}{{ message.message }}{% endif %}

                            {% if message is defined %}
                            {{ _self.errorList(message.getErrors('message')) }}
                            {% endif %}

                        %button.btn.btn-primary{ type: 'submit' } Send

{% endblock %}
