{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
<main id='main-content'>
  <section class='section_background_about'>
    <div class='section_background--overlay'></div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Contact Us</h1>
          {{ entry.pageIntroduction }}
        </div>
      </div>
    </div>
  </section>
  <section class='section section_bordered'>
    <div class='container-fluid'>
      {% for location in entry.contactLocations %}
      <div class='contact row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <div class='contact--map'>
            <div class='contact--overlay'>
              <h2>{{ location.locationName }}</h2>
            </div>
            {% set coordinates = location.latitude ~ ',' ~ location.longitude %}
            <a href='{{ location.mapLink }}'>
              <img data-src='https://maps.googleapis.com/maps/api/staticmap?center={{ coordinates }}&amp;zoom=14&amp;size=300x125&amp;markers=size:mid%7Ccolor:red%7C{{ coordinates }}&amp;scale=2&amp;key=AIzaSyDGcxPj2JOF7ViOZELFJ3hEbpGKnZbwpmU'>
            </a>
          </div>
          <div class='contact--address1'>{{ location.address1 }}</div>
          <div class='contact--address2'>{{ location.address2 }}</div>
          <div class='contact--address3'>{{ location.city }}, {{ location.state }} {{ location.zip }}</div>
          {% if location.hotline %}
          <div class='contact--phone'><span>Hotline:</span>{{ location.hotline }}
          </div>
          {% endif %}
          {% if location.phone %}
          <div class='contact--phone'><span>Phone:</span>{{ location.phone }}
          </div>
          {% endif %}
          {% if location.fax %}
          <div class='contact--phone'><span>Fax:</span>{{ location.fax }}
          </div>
          {% endif %}
          <a href='{{ location.mapLink }}'>See it on the map</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class='contact-form section_bordered' id='send'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h2>Send Us a Message</h2>
          <p class='contact-form--instructions'>We'd love to hear from you! Whether you have a question about our services or would like to become part of our community, drop us a line below and we'll do our best to get back to you right away.</p>
          <form accept-charset='UTF-8' action='/' method='post'>
            <input name='action' type='hidden' value='mandrillForm/sendMessage'>
            <input name='successRedirectUrl' type='hidden' value='success'>
            <div class='form-group'>
              <input class='form-control' id='fromEmail' name='fromEmail' placeholder='Your Email' type='text' value='{% if message is defined %}{{ message.fromEmail }}{% endif %}'>
              {% if message is defined %}
              {{ _self.errorList(message.getErrors('fromEmail')) }}
              {% endif %}
            </div>
            <div class='form-group'>
              <label for='message'>Message</label>
              <textarea class='form-control' cols='40' id='message' name='message' rows='5'>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
              {% if message is defined %}
              {{ _self.errorList(message.getErrors('message')) }}
              {% endif %}
            </div>
            <button class='btn_more btn-secondary' type='submit'>Send Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
