{% extends "_layout" %}
{% set navPage = 'donation' %}
{% block content %}
<main id='main-content' ng-controller='donationCtrl' ng-init="stripePublishableKey='{{ craft.stripeService.publishableKey() }}'">
  <section class='section_callout section_blank section_progress'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Make a Donation</h1>
          <p>Your generous donation will help us work towards creating a world where HIV transmission is rare and those who are HIV+ lead healthy lives.</p>
          <a id='start'></a>
        </div>
      </div>
    </div>
    <div class='progress-steps'>
      <div class='progress-steps--step is-active' ng-click='gotoStep(0)'>1</div>
      <div class='progress-steps--step' ng-class='{ "is-active": isStep(1) || isStep(2) }' ng-click='gotoStep(1)'>2</div>
      <div class='progress-steps--step' ng-class='{ "is-active": isStep(2) }'>3</div>
    </div>
  </section>
  <section class='donation-form section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
          <section ng-show='isStep(0)'>
            <h2 class='donation-form--header'>Select an amount</h2>
            <div class='row'>
              <div class='col-xs-6 col-sm-3'>
                <button class='donation-form--amount btn' ng-class="{ 'is-selected': form.amountType === 'option' &amp;&amp; form.amountValue === 25 }" ng-click='selectAmountOption(25)'>$25</button>
              </div>
              <div class='col-xs-6 col-sm-3'>
                <button class='donation-form--amount btn' ng-class="{ 'is-selected': form.amountType === 'option' &amp;&amp; form.amountValue === 50 }" ng-click='selectAmountOption(50)'>$50</button>
              </div>
              <div class='col-xs-6 col-sm-3'>
                <button class='donation-form--amount btn' ng-class="{ 'is-selected': form.amountType === 'option' &amp;&amp; form.amountValue === 100 }" ng-click='selectAmountOption(100)'>$100</button>
              </div>
              <div class='col-xs-6 col-sm-3'>
                <input class='donation-form--custom-amount form-control is-empty' ng-change='updateCustomAmount()' ng-class="{ 'is-empty': form.amountType !== 'custom' }" ng-model='form.amountCustom' placeholder='$ Other' type='text'>
              </div>
            </div>
            <div class='donation-form--amount-options row'>
              <div class='col-xs-12'>
                <div class='checkbox'>
                  <input id='donation-form--dedicated' ng-change='updateBehalfSelection()' ng-model='form.behalfSelected' type='checkbox'>
                  <label for='donation-form--dedicated'>
                    Dedicate this donation
                    <span class='donation-form--dedication-info hint--top' data-hint='Add dedication information to your donation'>
                      <span class='geomicon-info-2'></span>
                    </span>
                  </label>
                </div>
                <div class='checkbox'>
                  <input id='donation-form--recurring' ng-false-value='once' ng-model='form.chargeType' ng-true-value='recurring' type='checkbox'>
                  <label for='donation-form--recurring'>
                    Make this a monthly recurring donation
                    <span class='donation-form--recurring-info hint--top' data-hint='You can discontinue your donation from a monthly email receipt.'>
                      <span class='geomicon-info-2'></span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class='donation-form--continue row'>
              <div class='col-xs-12'>
                <button class='btn btn-secondary btn-secondary_pill' ng-click='gotoStep(1); jump("start")'>Continue<span class='geomicon-arrow-right'></span></button>
              </div>
            </div>
          </section>
          <section ng-cloak='' ng-show='isStep(1)'>
            <h2 class='donation-form--header'>Payment Info</h2>
            <div class='form-inline'>
              <div class='form-group col-sm-6'>
                <input class='form-control' ng-class='{ "is-filled": form.donorFirstName, "has-errors": errorField(requireField, form.donorFirstName) }' ng-model='form.donorFirstName' placeholder='First Name' type='text'>
                <label>{[{ errorFieldLabel(requireField, form.donorFirstName, 'First Name') }]}</label>
              </div>
              <div class='form-group col-sm-6'>
                <input class='form-control' ng-class='{ "is-filled": form.donorLastName, "has-errors": errorField(requireField, form.donorLastName) }' ng-model='form.donorLastName' placeholder='Last Name' type='text'>
                <label>{[{ errorFieldLabel(requireField, form.donorLastName, 'Last Name') }]}</label>
              </div>
            </div>
            <div class='form-inline'>
              <div class='form-group col-sm-12'>
                <input class='form-control' ng-class='{ "is-filled": form.donorEmail, "has-errors": errorField(requireEmailField, form.donorEmail) }' ng-model='form.donorEmail' placeholder='Email Address' type='text'>
                <label>{[{ errorFieldLabel(requireEmailField, form.donorEmail, 'Email Address') }]}</label>
              </div>
            </div>
            <div class='form-inline'>
              <div class='form-group col-sm-6'>
                <input class='form-control' ng-class='{ "is-filled": card.number, "has-errors": errorField(requireField, card.number) }' ng-model='card.number' placeholder='Card Number' type='text' ui_mask='9999  9999  9999  9999' ui_mask_placeholder='––––  ––––  ––––  ––––'>
                <label>{[{ errorFieldLabel(requireField, card.number, 'Card Number') }]}</label>
              </div>
              <div class='form-group col-sm-2'>
                <input class='form-control' ng-class='{ "is-filled": card.expiration, "has-errors": errorField(requireField, card.expiration) }' ng-model='card.expiration' placeholder='MM / YY' type='text' ui_mask='99 / 99' ui_mask_placeholder='–– / ––'>
                <label>{[{ errorFieldLabel(requireField, card.expiration, 'MM / YY') }]}</label>
              </div>
              <div class='form-group col-sm-4'>
                <input class='form-control' ng-change='updateCardCvc("{[{ card.cvc }]}")' ng-class='{ "is-filled": card.cvc, "has-errors": errorField(requireField, card.cvc) }' ng-model='card.cvc' placeholder='Security Code' type='text'>
                <label>{[{ errorFieldLabel(requireField, card.cvc, 'Security Code') }]}</label>
              </div>
            </div>
            <div class='form-inline'>
              <div class='form-group col-sm-12'>
                <input class='form-control' ng-class='{ "is-filled": form.donorZip, "has-errors": errorField(requireField, form.donorZip) }' ng-model='form.donorZip' placeholder='Billing Zip Code' type='text' ui_mask='99999' ui_mask_placeholder='–––––'>
                <label>{[{ errorFieldLabel(requireField, form.donorZip, 'Billing Zip Code') }]}</label>
              </div>
            </div>
            <div ng-show='form.behalfSelected'>
              <h2 class='donation-form--header'>Dedication Info</h2>
              <div class='row'>
                <div class='col-sm-4'>
                  <div class='checkbox' ng-click='form.behalfOtherType = ""'>
                    <input id='donation-form--honor-behalf' ng-model='form.behalfType' type='radio' value='honor'>
                    <label for='donation-form--honor-behalf'>In honor of</label>
                  </div>
                </div>
                <div class='col-sm-4'>
                  <div class='checkbox' ng-click='form.behalfOtherType = ""'>
                    <input id='donation-form--memory-behalf' ng-model='form.behalfType' type='radio' value='memory'>
                    <label for='donation-form--memory-behalf'>In memory of</label>
                  </div>
                </div>
                <div class='col-sm-4 col-xs-5'>
                  <div class='checkbox with-input'>
                    <input id='donation-form--other-behalf' ng-model='form.behalfType' type='radio' value='other'>
                    <label for='donation-form--other-behalf'>&nbsp;</label>
                  </div>
                  <input class='form-control donation-form--other-behalf-input' for='donation-form--other-behalf' ng-class='{ "is-filled": form.behalfOtherType }' ng-click='form.behalfType = "other"' ng-model='form.behalfOtherType' placeholder='Other' type='text'>
                </div>
              </div>
              <div class='form-inline'>
                <div class='donation-form--behalf-name-container form-group col-sm-12'>
                  <input class='form-control' ng-class='{ "is-filled": form.behalfName, "has-errors": errorField(requireField, form.behalfName) }' ng-model='form.behalfName' placeholder='Dedicatee Name' type='text'>
                  <label>{[{ errorFieldLabel(requireField, form.behalfName, 'Dedicatee Name') }]}</label>
                </div>
              </div>
              <h2 class='donation-form--header'>Would you like us to notify someone?</h2>
              <div class='row'>
                <div class='col-sm-4'>
                  <div class='checkbox'>
                    <input id='donation-form--none-notify' ng-model='form.notifyType' type='radio' value='none'>
                    <label for='donation-form--none-notify'>No notification</label>
                  </div>
                </div>
                <div class='col-sm-4'>
                  <div class='checkbox'>
                    <input id='donation-form--email-notify' ng-model='form.notifyType' type='radio' value='email'>
                    <label for='donation-form--email-notify'>Send email</label>
                  </div>
                </div>
                <div class='col-sm-4'>
                  <div class='checkbox'>
                    <input id='donation-form--letter-notify' ng-model='form.notifyType' type='radio' value='letter'>
                    <label for='donation-form--letter-notify'>Send letter</label>
                  </div>
                </div>
              </div>
              <div ng-hide='form.notifyType === "none"'>
                <div class='form-inline'>
                  <div class='form-group col-sm-12'>
                    <input class='form-control' ng-class='{ "is-filled": form.notifyName, "has-errors": errorField(requireField, form.notifyName) }' ng-model='form.notifyName' placeholder='Full name of person to notify' type='text'>
                    <label>{[{ errorFieldLabel(requireField, form.notifyName, 'Full name of person to notify') }]}</label>
                  </div>
                </div>
                <div class='donation-form--notify-details' ng-show='form.notifyType === "email"'>
                  <div class='form-inline'>
                    <div class='form-group col-sm-12'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyEmail, "has-errors": errorField(requireEmailField, form.notifyEmail) }' ng-model='form.notifyEmail' placeholder='Email Address' type='text'>
                      <label>{[{ errorFieldLabel(requireEmailField, form.notifyEmail, 'Email Address') }]}</label>
                    </div>
                  </div>
                </div>
                <div class='donation-form--notify-details' ng-show='form.notifyType === "letter"'>
                  <div class='form-inline'>
                    <div class='form-group col-sm-6'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyAddress1, "has-errors": errorField(requireField, form.notifyAddress1) }' ng-model='form.notifyAddress1' placeholder='Address' type='text'>
                      <label>{[{ errorFieldLabel(requireField, form.notifyAddress1, 'Address') }]}</label>
                    </div>
                    <div class='form-group col-sm-6'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyAddress2 }' ng-model='form.notifyAddress2' placeholder='Apt / Suite' type='text'>
                      <label>Apt / Suite</label>
                    </div>
                  </div>
                  <div class='form-inline'>
                    <div class='form-group col-sm-6'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyCity, "has-errors": errorField(requireField, form.notifyCity) }' ng-model='form.notifyCity' placeholder='City' type='text'>
                      <label>{[{ errorFieldLabel(requireField, form.notifyCity, 'City') }]}</label>
                    </div>
                    <div class='form-group col-sm-3'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyState, "has-errors": errorField(requireField, form.notifyState) }' ng-model='form.notifyState' placeholder='State' type='text' ui_mask='AA' ui_mask_placeholder='––'>
                      <label>{[{ errorFieldLabel(requireField, form.notifyState, 'State') }]}</label>
                    </div>
                    <div class='form-group col-sm-3'>
                      <input class='form-control' ng-class='{ "is-filled": form.notifyZip, "has-errors": errorField(requireField, form.notifyZip) }' ng-model='form.notifyZip' placeholder='Zip Code' type='text' ui_mask='99999' ui_mask_placeholder='–––––'>
                      <label>{[{ errorFieldLabel(requireField, form.notifyZip, 'Zip Code') }]}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='donation-form--continue row'>
              <div class='col-xs-12'>
                <button class='btn btn-secondary btn-secondary_pill' ng-click='submit()' ng-disabled='form.submitting'>{[{ form.submitting ? 'Completing' : 'Complete' }]} your {[{ form.chargeType === 'recurring' ? ' monthly ' : '' }]} donation of ${[{ donationAmount() / 100 }]}<span class='geomicon-arrow-right' ng-hide='form.submitting'></span><span ng-show='form.submitting'>&nbsp;.&nbsp;.&nbsp;.</span></button>
              </div>
            </div>
            <div class='alert alert-danger' ng-show='form.hasErrors'>{[{ errorMessage }]}</div>
          </section>
          <section class='donation-form--complete' ng-cloak='' ng-show='isStep(2)'>
            <h1>Thank you for your {[{ form.chargeType === 'recurring' ? ' monthly ' : '' }]} gift of ${[{ donationAmount() / 100 }]}!</h1>
            <h2>
              We’ve sent an email confirmation of your donation to
              <br>
              <strong>{[{ form.donorEmail }]}.</strong>
              <span ng-if='form.chargeType === "recurring"'>
                Each month you’ll receive an email after your donation of ${[{ donationAmount() / 100 }]} is processed. You can cancel your recurring donation from that receipt.
              </span>
              <span ng-if='form.notifyType === "letter"'>
                We’ll also send a letter to notify<strong>&nbsp;{[{ form.notifyName }]}&nbsp;</strong>of your donation, at the following address:
              </span>
              <span ng-if='form.notifyType === "email"'>
                We’ll also send an email to notify<strong>&nbsp;{[{ form.notifyName }]}&nbsp;</strong>of your donation, at<strong>&nbsp;{[{ form.notifyEmail }]}.</strong></span>
            </h2>
            <div class='donation-form--notify-address' ng-if='form.notifyType === "letter"'>
              <div class='donation-form--notify-address1'>{[{ form.notifyAddress1 }]}</div>
              <div class='donation-form--notify-address2' ng-if='form.notifyAddress2'>{[{ form.notifyAddress2 }]}</div>
              <div class='donation-form--notify-address3'>{[{ form.notifyCity }]}, {[{ form.notifyState }]} {[{ form.notifyZip }]}</div>
            </div>
            {{ entry.donationQuote }}
            <div class='donation-form--share-links'>
              <div class='row'>
                <div class='col-xs-6'>
                  <button class='btn btn-secondary_pill btn-facebook'>
                    <svg viewbox='0 0 512 512'>
                      <use xlink:href='#facebook'></use>
                    </svg>
                    Share
                    <span class='hidden-xs'>on Facebook</span>
                  </button>
                </div>
                <div class='col-xs-6'>
                  <a class='btn btn-secondary_pill btn-twitter' ng-href='https://twitter.com/home?status=I%20just%20donated%20${[{ donationAmount() / 100 }]}%20to%20the%20Southern%20Tier%20AIDS%20Program' target='_blank'>
                    <svg viewbox='0 0 512 512'>
                      <use xlink:href='#twitter'></use>
                    </svg>
                    Share
                    <span class='hidden-xs'>on Twitter</span>
                  </a>
                </div>
              </div>
            </div>
            {{ entry.donationNote }}
          </section>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
