{% extends "_layout" %}
{% set navPage = 'events' %}
{% macro eventPost(event, type) %}
<div class='event'>
  <div class='row'>
    <div class='col-sm-7'><h2 class='section--title'>{{ event.eventName }}</h2>
    <span class='event--date'>{{ event.when | date("F j, Y") }}</span>
    {{ event.description }}
    {% if type == "upcoming" %}
    {% if event.signUpLink %}
    <a class='btn btn-secondary' href='{{ event.signUpLink }}'>Sign Up</a>
    {% endif %}
    {% endif %}
    {% if event.photosLink %}
    <a class='btn btn-tertiary' href='{{ event.photosLink }}'>View Photos</a>
    {% endif %}</div>
  </div>
</div>
{% endmacro %}
{% block content %}
<main id='main-content'>
  <section class='section_blank section_bordered'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Events</h1>
          <p>
            We have fun-filled events throughout the year to fundraise and increase awareness and support in the community. Come join us or
            <a href='/volunteer'>volunteer</a>
            at one of these events!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class='section_bordered section_clear'>
    <div class='row'>
      <div class='col-xs-12'>
        {% for event in entry.events %}
        {% if (event.when | date("Y-m-d")) >= (date() | date("Y-m-d")) %}
        {{ _self.eventPost(event, "upcoming") }}
        {% else %}
        {{ _self.eventPost(event, "past") }}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
