{% extends "_layout" %}
{% macro eventPost(event, type) %}
<div class='post'>
  <div class='post--body'>
    <div class='row'>
      <div class='col-sm-7'>
        <h2>{{ event.eventName }}</h2>
        <span class='post--date'>At {{ event.when | date("F j, Y") }}</span>
        <p>{{ event.description }}</p>
        {% if type == "upcoming" %}
        {% if event.signUpLink %}
        <a class='post--more btn btn-secondary' href='{{ event.signUpLink }}'>Register</a>
        {% endif %}
        {% endif %}
        {% if event.photosLink %}
        <a class='btn btn-default' href='{{ event.photosLink }}'>Pictures</a>
        {% endif %}
      </div>
      <div class='col-sm-4 col-sm-offset-1'>
        <img class='post--image' data-src='{{ event.photo.first().url }}'>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
{% block content %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <h1 class='section--title'>Upcoming Events</h1>
          {% for event in entry.events %}
          {% if (event.when | date("Y-m-d")) >= (date() | date("Y-m-d")) %}
          {{ _self.eventPost(event, "upcoming") }}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <h1 class='section--title'>Past Events</h1>
          {% for event in entry.events %}
          {% if (event.when | date("Y-m-d")) < (date() | date("Y-m-d")) %}
          {{ _self.eventPost(event, "past") }}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
