{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          {% for entry in craft.entries.section('faq') %}
          <p id='{{ entry.slug }}'>
            &nbsp;
            <br>
            &nbsp;
          </p>
          <h1 class='section--title_secondary'>{{ entry.title }}</h1>
          {% for faq in entry.faq %}
          <div class='faq'>
            <h2 class='faq--question'>{{ faq.question }}</h2>
            {{ faq.answer }}
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
