{% extends "_layout" %}
{% set navPage = 'faq' %}
{% block content %}
%main#main-content
    {% for entry in craft.entries.section('faq') %}
    %section.section_bordered
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %p{ id: "{{ entry.slug }}" }
                        &nbsp;
                        %br
                        &nbsp;
                    %h1.section--title_secondary {{ entry.title }}
                    {% for faq in entry.faq %}
                    .faq
                        %h2.faq--question {{ faq.question }}
                        {{ faq.answer }}
                    {% endfor %}
    {% endfor %}
{% endblock %}
