{% extends "_layout" %}
{% block content %}
<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>
        <img src='/images/logo.png' style='width: 55px; margin-top: -15px;'>
      </a>
    </div>
    <div class='collapse navbar-collapse' id='navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href='#'>HIV Testing</a>
        </li>
        <li>
          <a href='#'>Services</a>
        </li>
        <li>
          <a href='#'>Events</a>
        </li>
        <li>
          <a href='#'>Resources</a>
        </li>
        <li>
          <a href='#'>FAQ</a>
        </li>
        <li>
          <a href='#'>About</a>
        </li>
        <li>
          <a class='navbar--donate btn btn-primary' href='#'>Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img src='/images/promo.png' style='margin-top: 70px;' width='100%'>
<section class='section_callout'>
  <div class='container-fluid'>
    <h1 class='section--title col-sm-8 col-sm-offset-2'>We've been providing comprehensive HIV/AIDS services in the Southern Tier of New York for over 30 years.</h1>
    <div class='row'>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/testing.png'>
          </div>
          <h2>HIV Testing</h2>
          <p>STAP offers fast, free and confidential HIV testing at many locations throughout the Southern Tier. Knowing our HIV status can keep you and your partner safe.</p>
          <a class='media-vertical--more btn'>
            Get Tested Today
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/syringe.png'>
          </div>
          <h2>Syringe Exhange Program</h2>
          <p>STAP's Prevention Points exchange new sterile syringes for used ones to reduce the risk of infection with HIV, Hepatitis C, and other blood-borne illnesses among injection drug users.</p>
          <a class='media-vertical--more btn'>
            Learn why this works
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/healthhomes.png'>
          </div>
          <h2>Health Homes Care Management</h2>
          <p>STAP's Health Homes program serves individuals with a variety of chronic conditions with comprehensive care managemnt and care coordination services.</p>
          <a class='media-vertical--more btn'>
            Read about this program
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <a class='section--more btn is-full'>
          We provide even more services. See it all here
          <span class='geomicon-arrow-right'></span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container-fluid'>
    <h1 class='section--title col-sm-8 col-sm-offset-2'>Check out our community events!</h1>
    <div class='row'>
      <div class='media-vertical_events col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/aidsride.png'>
          </div>
          <h2>AIDS Ride for Life 2015</h2>
          <p>A great opportunity to combine a challenging route, beautiful scenery with a chance to make a difference, on one of the best supported rides anywhere. Ride a 100 miles or take it easy with 42 miles.</p>
        </div>
      </div>
      <div class='media-vertical_events col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/mudgauntlet.png'>
          </div>
          <h2>Mud Gauntlet 2015</h2>
          <p>Seriously challenge yourself by running, crawling, sprinting and splashing through the Mud Gauntlet, Broome County's premier hardcore outdoor obstacle course!</p>
        </div>
      </div>
      <div class='media-vertical_events col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media'>
            <img src='/images/hotcrossrun.png'>
          </div>
          <h2>Hot Cross Run 2014</h2>
          <p>Calling all fitness heroes! The ringmasters at STAP have thrown down the gauntlet and have devised the perfect trio of tasks to test you and your fitness.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container-fluid'>
    <h1 class='section--title col-sm-8 col-sm-offset-2'>Recent News</h1>
    <div class='row'>
      <div class='post col-xs-10 col-xs-offset-1'>
        <div class='post--container'>
          <div class='row'>
            <div class='col-sm-7'>
              <h2>CDC to Baby Boomers: Get Tested for Hepatitis C</h2>
              <span class='post--date'>May 18, 2012</span>
              <p>CDC on Friday announced a proposal to recommend that all people born between 1945 to 1965 get tested for hepatitis C virus. Baby boomers comprise more than 2 million of the estimated 3.2 million Americans thought to have HCV, but many do not know they are infected. CDC officials hope testing all baby boomers will help 800,000 get treated and prevent more than 120,000 deaths.</p>
              <a class='post--more btn btn-secondary'>Read More</a>
            </div>
            <div class='col-sm-4 col-sm-offset-1'>
              <img class='post--image' src='/images/doctor.png'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<img src='/images/impact.png' style='margin-top: 70px;' width='100%'>
<section class='section'>
  <div class='container-fluid'>
    <h1 class='section--title col-sm-8 col-sm-offset-2'>Who We Are</h1>
    <div class='section--centered row'>
      <div class='col-sm-6 col-sm-offset-3 col-xs-12'>
        <p>Founded in 1984, the Southern Tier AIDS Program provides supportive services to HIV+ persons and state of the art prevention education from 9 offices in an 8 county area. We work to create a world where HIV transmission is rare and those who are HIV+ lead healthy lives. We cultivate individual and community strengths to improve the public health. Our services focus on the health and well being of HIV+ persons and incorporate a harm reduction perspective and recognize that behavior change is a gradual process.</p>
        <a class='section--more btn btn-secondary'>Learn about us</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
