{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section_background_home'>
    <div class='section_background--overlay-light'></div>
    <div class='section_background--overlay'></div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <h1 class='section--title'>{{ entry.pageIntroduction }}</h1>
        </div>
      </div>
    </div>
    <div class='client-callout'>
      {% set story = random(craft.entries.section('clientStories').first().clientStories) %}
      <div class='client-callout--overlay'></div>
      <div class='client-callout--body'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-sm-4 col-md-3'>
              <a href='/clientstories{{ "#" ~ story.storyName | kebab }}'>
                <img class='client-callout--photo' src='{{ story.coverImage.first().url }}'>
              </a>
              <h3 class='client-callout--name'>
                <a href='/clientstories{{ "#" ~ story.storyName | kebab }}'>{{ story.storyName }}</a>
                <div class='client-callout--introduction'>
                  <a href='/clientstories{{ "#" ~ story.storyName | kebab }}'>{{ story.introduction }}</a>
                </div>
              </h3>
            </div>
            <div class='client-callout--quote col-sm-8 col-md-9'>
              <svg class='client-callout--quote-image' viewbox='0 0 45.9 39.2'>
                <use xlink:href='#quote'></use>
              </svg>
              <div class='client-callout--quote-body'>{{ story.quote }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<section class='section_background_home-services section_bordered' style='background-color: #eef7f8'>
  <div class='section_background--overlay-light'></div>
  <div class='section_background--overlay'></div>
  <div class='container-fluid'>
    <h1 class='section--title col-sm-8 col-sm-offset-2'>We've been providing comprehensive HIV/AIDS services in the Southern Tier of New York for over 30 years.</h1>
    <div class='row'>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media' style='background-color: #e7f2f8'>
            <img src='/images/testing.png'>
          </div>
          <h2>HIV Testing</h2>
          <p>STAP offers fast, free and confidential HIV testing at many locations throughout the Southern Tier. Knowing our HIV status can keep you and your partner safe.</p>
          <a class='media-vertical--more btn' href='/testing'>
            Get Tested Today
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media' style='background-color: #e7f2f8'>
            <img src='/images/syringe.png'>
          </div>
          <h2>Syringe Exhange Program</h2>
          <p>STAP's Prevention Points exchange new sterile syringes for used ones to reduce the risk of infection with HIV, Hepatitis C, and other blood-borne illnesses among injection drug users.</p>
          <a class='media-vertical--more btn' href='/preventionservices#syringe-exchange-program-sep'>
            Learn why this works
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
      <div class='media-vertical_services col-sm-4'>
        <div class='media-vertical--container'>
          <div class='media-vertical--media' style='background-color: #e7f2f8'>
            <img src='/images/healthhomes.png'>
          </div>
          <h2>Health Homes Care Management</h2>
          <p>STAP's Health Homes program serves individuals with a variety of chronic conditions with comprehensive care managemnt and care coordination services.</p>
          <a class='media-vertical--more btn' href='/clientservices#health-homes-medicaid-care-management'>
            Read about this program
            <span class='geomicon-arrow-right'></span>
          </a>
        </div>
      </div>
    </div>
    <div class='section_background_home-services--more row'>
      <div class='col-xs-12 text-center'>
        <a class='btn btn-secondary' href='/services'>See all our services</a>
        &nbsp;
        <a class='btn btn-clear-wired' href='/about'>Learn more about us</a>
      </div>
    </div>
  </div>
</section>
<section class='section section_bordered'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class='section--title-center col-xs-12'>Get involved in our events and make a difference!</h1>
    </div>
    <div class='row'>
      {% for event in craft.entries.section('events').first().events.limit(3) %}
      <div class='media-vertical_events col-sm-4'>
        <div class='media-vertical--container' style='background-color: #eef7f8'>
          <div class='media-vertical--media'>
            <a href='/events{{ "#" ~ event.eventName | kebab }}'>
              <img data-src='{{ event.photo.first().url }}'>
            </a>
          </div>
          <a href='/events{{ "#" ~ event.eventName | kebab }}'>
            <h2>{{ event.eventName }}</h2>
          </a>
          {{ event.description }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% set article = craft.entries.section('news').first() %}
<section class='section_clear'>
  <div class='container-full'>
    <div class='row'>
      <div class='col-lg-12 is-odd'>
        <div class='service'>
          <div class='row'>
            <div class='service--photo col-xs-12 col-lg-6' style='background-image: url("{{ article.articlePhoto.first().url }}")'></div>
            <div class='service--details col-lg-7'>
              <div class='row'>
                <div class='col-lg-11'><div class='row'>
                  <div class='col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2'>
                    <span class='service--upcoming-label'>
                      <a href='/news'>Latest News</a>
                    </span>
                    <h2 class='section--title'>{{ article.title }}</h2>
                    <span class='service--date'>{{ article.postDate | date("F j, Y") }}</span>
                    <p>{{ article.excerpt }}</p>
                    <a class='btn btn-secondary' href='/news/{{ article.slug }}'>Read more</a>
                  </div>
                </div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='section_background_home-impact'>
  <div class='section_background--overlay'></div>
  <div class='impact container-fluid'>
    <div class='row'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>Our Impact in Numbers</h1>
    </div>
    <div class='row'>
      {% for impact in entry.impactStatistics %}
      <div class='impact--statistic col-sm-4'>
        <div class='impact--value'>{{ impact.number }}</div>
        <div class='impact--label'>{{ impact.label }}</div>
      </div>
      {% endfor %}
    </div>
    <div class='impact--buttons row'>
      <div class='col-xs-12'>
        <a class='btn btn-white_pill impact--volunteer' href='/about#opportunities'>
          Jobs & Volunteer Opportunities
          <span class='geomicon-arrow-right'></span>
        </a>
        &nbsp;
        <a class='btn btn-white_pill' href='/donation'>
          Donate today
          <span class='geomicon-arrow-right'></span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
