{% extends "_layout" %}
{% block content %}

%img{ src: '/images/promo.png', width: '100%', style: 'margin-top: 70px;' }

%section.section_callout
    .container-fluid
        %h1.section--title.col-sm-8.col-sm-offset-2 We've been providing comprehensive HIV/AIDS services in the Southern Tier of New York for over 30 years.
        .row
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media
                        %img{ src: '/images/testing.png' }
                    %h2 HIV Testing
                    %p STAP offers fast, free and confidential HIV testing at many locations throughout the Southern Tier. Knowing our HIV status can keep you and your partner safe.
                    %a.media-vertical--more.btn
                        Get Tested Today
                        %span.geomicon-arrow-right
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media
                        %img{ src: '/images/syringe.png' }
                    %h2 Syringe Exhange Program
                    %p STAP's Prevention Points exchange new sterile syringes for used ones to reduce the risk of infection with HIV, Hepatitis C, and other blood-borne illnesses among injection drug users.
                    %a.media-vertical--more.btn
                        Learn why this works
                        %span.geomicon-arrow-right
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media
                        %img{ src: '/images/healthhomes.png' }
                    %h2 Health Homes Care Management
                    %p STAP's Health Homes program serves individuals with a variety of chronic conditions with comprehensive care managemnt and care coordination services.
                    %a.media-vertical--more.btn
                        Read about this program
                        %span.geomicon-arrow-right

        .row
            .col-sm-6.col-sm-offset-3
                %a.section--more.btn.is-full
                    We provide even more services. See it all here
                    %span.geomicon-arrow-right

%section.section
    .container-fluid
        %h1.section--title.col-sm-8.col-sm-offset-2 Check out our community events!
        .row
            {% for event in craft.entries.section('events').first().events.limit(3) %}
            .media-vertical_events.col-sm-4
                .media-vertical--container
                    .media-vertical--media
                        %img{ data: { src: '{{ event.photo.first().url }}' } }
                    %h2 {{ event.eventName }}
                    %p {{ event.description }}
            {% endfor %}

%section.section
    .container-fluid
        %h1.section--title.col-sm-8.col-sm-offset-2 Recent News
        .post
            .col-xs-10.col-xs-offset-1
                .post--container
                    .row
                        .col-sm-7
                            %h2 CDC to Baby Boomers: Get Tested for Hepatitis C
                            %span.post--date May 18, 2012
                            %p CDC on Friday announced a proposal to recommend that all people born between 1945 to 1965 get tested for hepatitis C virus. Baby boomers comprise more than 2 million of the estimated 3.2 million Americans thought to have HCV, but many do not know they are infected. CDC officials hope testing all baby boomers will help 800,000 get treated and prevent more than 120,000 deaths.
                            %a.post--more.btn.btn-secondary Read More
                        .col-sm-4.col-sm-offset-1
                            %img.post--image{ src: '/images/doctor.png' }

%img{ src: '/images/impact.png', width: '100%', style: 'margin-top: 70px;' }

%section.section
    .container-fluid
        %h1.section--title Who We Are
        .section--centered.row
            .col-sm-6.col-sm-offset-3.col-xs-12
                %p Founded in 1984, the Southern Tier AIDS Program provides supportive services to HIV+ persons and state of the art prevention education from 9 offices in an 8 county area. We work to create a world where HIV transmission is rare and those who are HIV+ lead healthy lives. We cultivate individual and community strengths to improve the public health. Our services focus on the health and well being of HIV+ persons and incorporate a harm reduction perspective and recognize that behavior change is a gradual process.
                %a.section--more.btn.btn-secondary Learn about us

{% endblock %}
