{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section_background_home
        .section_background--overlay-light
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-8.col-sm-offset-2
                    %h1.section--title We work towards creating a world where HIV transmission is rare and those who are HIV+ lead healthy lives.
        .client-callout
            {% set story = random(craft.entries.section('clientStories').first().clientStories) %}
            .client-callout--overlay
            .client-callout--body
                .container-fluid
                    .row
                        .col-sm-4.col-md-3
                            %a{ href: '/clientstories{{ "#" ~ story.storyName | kebab }}' }
                                %img.client-callout--photo{ src: '{{ story.coverImage.first().url }}' }
                            %h3.client-callout--name
                                %a{ href: '/clientstories{{ "#" ~ story.storyName | kebab }}' } {{ story.storyName }}
                                .client-callout--introduction
                                    %a{ href: '/clientstories{{ "#" ~ story.storyName | kebab }}' } {{ story.introduction }}
                        .client-callout--quote.col-sm-8.col-md-9
                            %svg.client-callout--quote-image{ viewbox: '0 0 45.9 39.2' }
                                %use{ 'xlink:href' => '#quote' }
                            .client-callout--quote-body {{ story.quote }}

%section.section_background_home-services.section_bordered{ style: 'background-color: #eef7f8' }
    .section_background--overlay-light
    .section_background--overlay
    .container-fluid
        %h1.section--title.col-sm-8.col-sm-offset-2 We've been providing comprehensive HIV/AIDS services in the Southern Tier of New York for over 30 years.
        .row
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media{ style: 'background-color: #e7f2f8' }
                        %img{ src: '/images/testing.png' }
                    %h2 HIV Testing
                    %p STAP offers fast, free and confidential HIV testing at many locations throughout the Southern Tier. Knowing our HIV status can keep you and your partner safe.
                    %a.media-vertical--more.btn{ href: '/testing' }
                        Get Tested Today
                        %span.geomicon-arrow-right
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media{ style: 'background-color: #e7f2f8' }
                        %img{ src: '/images/syringe.png' }
                    %h2 Syringe Exhange Program
                    %p STAP's Prevention Points exchange new sterile syringes for used ones to reduce the risk of infection with HIV, Hepatitis C, and other blood-borne illnesses among injection drug users.
                    %a.media-vertical--more.btn{ href: '/preventionservices#syringe-exchange-program-sep' }
                        Learn why this works
                        %span.geomicon-arrow-right
            .media-vertical_services.col-sm-4
                .media-vertical--container
                    .media-vertical--media{ style: 'background-color: #e7f2f8' }
                        %img{ src: '/images/healthhomes.png' }
                    %h2 Health Homes Care Management
                    %p STAP's Health Homes program serves individuals with a variety of chronic conditions with comprehensive care managemnt and care coordination services.
                    %a.media-vertical--more.btn{ href: '/clientservices#health-homes-medicaid-care-management' }
                        Read about this program
                        %span.geomicon-arrow-right

        .section_background_home-services--more.row
            .col-xs-12.text-center
                %a.btn.btn-secondary{ href: '/services' } See all our services
                &nbsp;
                %a.btn.btn-clear-wired{ href: '/about' } Learn more about us

%section.section.section_bordered
    .container-fluid
        .row
            %h1.section--title-center.col-xs-12 Get involved in our events and make a difference!
        .row
            {% for event in craft.entries.section('events').first().events.limit(3) %}
            .media-vertical_events.col-sm-4
                .media-vertical--container{ style: 'background-color: #eef7f8' }
                    .media-vertical--media
                        %img{ data: { src: '{{ event.photo.first().url }}' } }
                    %h2 {{ event.eventName }}
                    {{ event.description }}
            {% endfor %}

{% set article = craft.entries.section('news').first() %}
%section.section_clear
    .container-full
        .row
            .col-lg-12.is-odd
                .service
                    .row
                        .service--photo.col-xs-12.col-lg-6{ style: 'background-image: url("{{ article.articlePhoto.first().url }}")' }
                        .service--details.col-lg-7
                            .row
                                .col-lg-11<
                                    .row
                                        .col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
                                            %span.service--upcoming-label Latest News
                                            %h2.section--title {{ article.title }}
                                            %span.service--date {{ article.postDate | date("F j, Y") }}
                                            %p {{ article.excerpt }}
                                            %a.btn.btn-secondary{ href: '/news/{{ article.slug }}' } Read more

%section.section_background_home-impact
    .section_background--overlay
    .impact.container-fluid
        .row
            %h1.section--title.col-sm-8.col-sm-offset-2  Our Impact in Numbers
        .row
            .impact--statistic.col-sm-4
                .impact--value 1,870
                .impact--label Total Clients Served
            .impact--statistic.col-sm-4
                .impact--value 160,401
                .impact--label Syringes Exchanged
            .impact--statistic.col-sm-4
                .impact--value 3,138
                .impact--label Participants in Outreach Activities
        .impact--buttons.row
            .col-xs-12
                %a.btn.btn-white_pill.impact--volunteer{ href: '/about#opportunities' }
                    Jobs & Volunteer Opportunities
                    %span.geomicon-arrow-right
                &nbsp;
                %a.btn.btn-white_pill{ href: '/donation' }
                    Donate today
                    %span.geomicon-arrow-right
{% endblock %}
