{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
%main#main-content
    %section.section_background_internships
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title Internships
                    {{ entry.pageIntroduction }}

    %section.section
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    {{ entry.descriptionWithContent }}
            {% for block in entry.callToActionButton %}
            .row
                .col-sm-6.col-sm-offset-3
                    %br
                    %a.btn.btn-secondary{ href: '{{ block.buttonLink }}' } {{ block.buttonText }}
            %br
            {% endfor %}
{% endblock %}
