{% extends "_layout" %}

{% block content %}
%main#main-content
    %section.section
        .container-fluid
            .row
                .col-sm-8.col-sm-offset-2
                    %h1.section--title Internships
            {% for block in entry.callToAction %}
            .row
                {% if block.type == 'description' %}
                .col-sm-8.col-sm-offset-2
                    %p {{ block.text }}
                {% elseif block.type == 'callToAction' %}
                .col-sm-5.col-sm-offset-2
                    %p {{ block.description }}
                    %a.btn.btn-secondary{ href: '{{ block.buttonUrl }}' } {{ block.buttonText }}
                .col-sm-3
                    {% set groups = block.photos | batch((block.photos | length / 2) | round(0, 'ceil')) %}
                    .row
                        {% for photos in groups %}
                        .col-sm-6
                            .row
                                {% for photo in photos %}
                                .col-xs-12
                                    %img{ data: { src: '{{ photo.url }}' }, style: 'width: 100%' }
                                    %br
                                {% endfor %}
                        {% endfor %}
                {% endif %}
            %br
            {% endfor %}
{% endblock %}
