{% extends "_layout" %}
{% block content %}
{% for entry in craft.entries.section('newsletters') %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>{{ entry.title }}</h1>
      {% set groups = entry.newsletters | batch((entry.newsletters | length / 2) | round(0, 'ceil')) %}
      <div class='row'>
        {% for newsletters in groups %}
        <div class='col-sm-6'>
          <ul>
            {% for newsletter in newsletters %}
            <li>
              <a href='{{ newsletter.newsletterDocument.first().url }}'>{{ newsletter.newsletterEdition }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endfor %}
{% endblock %}
