{% extends "_layout" %}

{% block content %}
%main#main-content
    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Prevention Services
            {% for service in entry.services %}
            .post
                .col-xs-10.col-xs-offset-1
                    .post--container
                        .row
                            {% if service.photo.first() %}
                            .col-sm-7
                                %h2 {{ service.serviceName }}
                                %p {{ service.description }}

                            .col-sm-4.col-sm-offset-1
                                %img.post--image{ data: { src: '{{ service.photo.first().url }}' } }
                            {% else %}
                            .col-sm-12
                                %h2 {{ service.serviceName }}
                                %p {{ service.description }}
                            {% endif %}
            {% endfor %}
            %p
                For more information, or to reach a staff member, please call 1-800-333-0892.

{% endblock %}
