{% extends "_layout" %}
{% block content %}

%main#main-content
    {% for entry in craft.entries.section('publications') %}
    %section.section.section_bordered
        .container-fluid
            %h1.section--title-center-alt.col-sm-6.col-sm-offset-3{ style: "margin-bottom: 100px;" } {{ entry.title }}
            {% set groups = entry.issues | batch(3) %}
            {% for issues in groups %}
            .row
                {% for issue in issues %}
                .col-xs-4
                    %h4 {{ issue.issueName }}
                    %a{ href: '{{ issue.linkToIssue }}' }
                        %img{ data: { src: '{{ issue.coverImage.first().url }}' }, style: 'width: 100%' }
                {% endfor %}
            {% endfor %}
    {% endfor %}
{% endblock %}
