{% extends "_layout" %}
{% block content %}
{% for entry in craft.entries.section('publications') %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>{{ entry.title }}</h1>
      {% set groups = entry.issues | batch(3) %}
      {% for issues in groups %}
      <div class='row'>
        {% for issue in issues %}
        <div class='col-xs-4'>
          <h4>{{ issue.issueName }}</h4>
          <a href='{{ issue.linkToIssue }}'>
            <img data-src='{{ issue.coverImage.first().url }}' style='width: 100%'>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endfor %}
{% endblock %}
