{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            .row
                .col-sm-8.col-sm-offset-2
                    {% for entry in craft.entries.section('resources') %}
                    %h1.section--title.is-secondary {{ entry.title }}

                    {% for block in entry.resourceLinks %}
                    {% if block.type == "resourcesHeader" %}
                    %h2.resource--group-title {{ block.resourceTitle }}
                    {% endif %}
                    {% if block.type == "resourceLink" %}
                    .resource
                        %h3.resource--title {{ block.linkText }}
                        %p {{ block.description }}
                        .resource--source
                            %a{ href: '{{ block.linkUrl }}' } {{ block.linkUrl }}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
{% endblock %}
