{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        {% for entry in craft.entries.section('resources') %}
        <div class='col-sm-4'>
          <a class='resource--tile' href='#{{ entry.slug }}'>{{ entry.title }}</a>
        </div>
        {% endfor %}
      </div>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          {% for entry in craft.entries.section('resources') %}
          <p id='{{ entry.slug }}'>
            &nbsp;
            <br>
            &nbsp;
          </p>
          <h1 class='section--title_secondary'>{{ entry.title }}</h1>
          {% for block in entry.resourceLinks %}
          {% if block.type == "resourcesHeader" %}
          <h2 class='resource--group-title'>{{ block.resourceTitle }}</h2>
          {% endif %}
          {% if block.type == "resourceLink" %}
          <div class='resource'>
            <a href='{{ block.linkUrl }}'>
              <h3 class='resource--title'>{{ block.linkText }}</h3>
              <p>{{ block.description }}</p>
              <div class='resource--source'>{{ block.linkUrl }}</div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
