{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section
        .container-fluid
            .row
                {% for entry in craft.entries.section('resources') %}
                .col-sm-4
                    %a.resource--tile{ href: "\#{{ entry.slug }}" } {{ entry.title }}
                {% endfor %}
            .row
                .col-sm-6.col-sm-offset-3
                    {% for entry in craft.entries.section('resources') %}
                    %p{ id: "{{ entry.slug }}" }
                        &nbsp;
                        %br
                        &nbsp;
                    %h1.section--title_secondary {{ entry.title }}

                    {% for block in entry.resourceLinks %}
                    {% if block.type == "resourcesHeader" %}
                    %h2.resource--group-title {{ block.resourceTitle }}
                    {% endif %}
                    {% if block.type == "resourceLink" %}
                    .resource
                        %a{ href: '{{ block.linkUrl }}' }
                            %h3.resource--title {{ block.linkText }}
                            %p {{ block.description }}
                            .resource--source {{ block.linkUrl }}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
{% endblock %}
