{% extends "_layout" %}
{% block content %}
%main#main-content
    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Our Services
            .row
                .col-sm-10.col-sm-offset-1 {{ entry.pageIntroduction }}

    %section.section
        .container-fluid
            .row
                .col-sm-5.col-sm-offset-1
                    .post
                        .post--container
                            .row
                                .col-sm-11.col-sm-offset-1
                                    %h2 Prevention Services
                                    %p {{ entry.preventionServicesIntroduction }}
                                    %a.post--more.btn.btn-secondary{ href: '/preventionservices' } See services
                .col-sm-5
                    .post
                        .post--container
                            .row
                                .col-sm-11.col-sm-offset-1
                                    %h2 Client Services
                                    %p {{ entry.clientServicesIntroduction }}
                                    %a.post--more.btn.btn-secondary{ href: '/clientservices' } See services

    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Recent Newsletters
            {% for newsletters in craft.entries.section('newsletters') %}
            .row
                .col-sm-4.col-sm-offset-4
                    %h1 {{ newsletters.title }}
                    %ul
                        {% for newsletter in newsletters.newsletters | slice(0, 4) %}
                        %li
                            %a{ href: '{{ newsletter.newsletterDocument.first().url }}' } {{ newsletter.newsletterEdition }}
                        {% endfor %}
            {% endfor %}
            .row
                .col-sm-8.col-sm-offset-2.text-center
                    %a.section--more.btn.btn-secondary{ href: '/newsletters' } Read more

    %section.section
        .container-fluid
            %h1.section--title.col-sm-8.col-sm-offset-2 Client Stories
            {% set groups = entry.clientStories | batch(3) %}
            {% for stories in groups %}
            .row
                {% for story in stories %}
                .col-xs-4
                    %a{ href: '{{ story.linkToStory }}' }
                        %img{ data: { src: '{{ story.coverImage.first().url }}' }, style: 'width: 100%' }
                    %h4.text-center {{ story.storyName }}
                {% endfor %}
            {% endfor %}
{% endblock %}
