{% extends "_layout" %}
{% set navPage = 'services' %}
{% block content %}
%main#main-content
    %section.section_background_services
        .section_background--overlay
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title Our Services
                    {{ entry.pageIntroduction }}

    %section.section_bordered
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    {{ entry.pageSubIntroduction }}

    %section.section_clear
        .container-full
            .row
                .col-lg-12.is-odd
                    .service
                        .row
                            .service--photo.col-xs-12.col-lg-6{ style: 'background-image: url("/images/backgrounds/bg-8.jpg")' }
                            .service--details.col-lg-7
                                .row
                                    .col-lg-11<
                                        .row
                                            .col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
                                                %h2.section--title Prevention Services
                                                %p {{ entry.preventionServicesIntroduction }}
                                                %a.btn.btn-secondary{ href: '/preventionservices' } Read about our prevention programs

                .col-lg-12.is-even
                    .service
                        .row
                            .service--photo.col-xs-12.col-lg-6{ style: 'background-image: url("/images/backgrounds/bg-4.jpg")' }
                            .service--details.col-lg-7
                                .row
                                    .col-lg-11<
                                        .row
                                            .col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2
                                                %h2.section--title Client Services
                                                %p {{ entry.clientServicesIntroduction }}
                                                %a.btn.btn-secondary{ href: '/clientservices' } Read about our client programs

    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-6.col-sm-offset-3 Recent Newsletters
            {% for newsletters in craft.entries.section('newsletters') %}
            .row
                .col-sm-4.col-sm-offset-4
                    %h1 {{ newsletters.title }}
                    %ul
                        {% for newsletter in newsletters.newsletters | slice(0, 4) %}
                        %li
                            %a{ href: '{{ newsletter.newsletterDocument.first().url }}' } {{ newsletter.newsletterEdition }}
                        {% endfor %}
            {% endfor %}
            .row
                .col-sm-6.col-sm-offset-3.text-center
                    %a.section--more.btn.btn-secondary{ href: '/newsletters' } Read more

    %section.section
        .container-fluid
            %h1.section--title.col-sm-6.col-sm-offset-3 Client Stories
            {% set groups = entry.clientStories | batch(3) %}
            {% for stories in groups %}
            .row
                {% for story in stories %}
                .col-xs-4
                    %a{ href: '{{ story.linkToStory }}' }
                        %img{ data: { src: '{{ story.coverImage.first().url }}' }, style: 'width: 100%' }
                    %h4.text-center {{ story.storyName }}
                {% endfor %}
            {% endfor %}
{% endblock %}
