{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section_callout'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <h1 class='section--title'>Our Services</h1>
          {{ entry.pageIntroduction }}
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-5 col-sm-offset-1'>
          <div class='post'>
            <div class='post--container'>
              <div class='row'>
                <div class='col-sm-11 col-sm-offset-1'>
                  <h2>Prevention Services</h2>
                  <p>{{ entry.preventionServicesIntroduction }}</p>
                  <a class='post--more btn btn-secondary' href='/preventionservices'>See services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-sm-5'>
          <div class='post'>
            <div class='post--container'>
              <div class='row'>
                <div class='col-sm-11 col-sm-offset-1'>
                  <h2>Client Services</h2>
                  <p>{{ entry.clientServicesIntroduction }}</p>
                  <a class='post--more btn btn-secondary' href='/clientservices'>See services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section_callout'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>Recent Newsletters</h1>
      {% for newsletters in craft.entries.section('newsletters') %}
      <div class='row'>
        <div class='col-sm-4 col-sm-offset-4'>
          <h1>{{ newsletters.title }}</h1>
          <ul>
            {% for newsletter in newsletters.newsletters | slice(0, 4) %}
            <li>
              <a href='{{ newsletter.newsletterDocument.first().url }}'>{{ newsletter.newsletterEdition }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2 text-center'>
          <a class='section--more btn btn-secondary' href='/newsletters'>Read more</a>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>Client Stories</h1>
      {% set groups = entry.clientStories | batch(3) %}
      {% for stories in groups %}
      <div class='row'>
        {% for story in stories %}
        <div class='col-xs-4'>
          <a href='{{ story.linkToStory }}'>
            <img data-src='{{ story.coverImage.first().url }}' style='width: 100%'>
          </a>
          <h4 class='text-center'>{{ story.storyName }}</h4>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
