{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
{% for entry in craft.entries.section('staff') %}
<main id='main-content'>
  <section class='section' id='{{ entry.slug }}'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-6 col-sm-offset-3'>{{ entry.title }}</h1>
      {% set groups = entry.employees | batch((entry.employees | length / 2) | round(0, 'ceil')) %}
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <div class='row'>
            {% for employees in groups %}
            <div class='col-sm-6'>
              <ul>
                {% for employee in employees %}
                <li>
                  <a href='mailto:{{ employee.emailAddress }}'>{{ employee.employeeName }}</a>
                  {% if employee.position %}
                  - {{ employee.position }}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endfor %}
{% endblock %}
