{% extends "_layout" %}
{% block content %}
%main
    %section.contact-form.section_bordered
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %h1.section--title-center-alt Your message was sent!
                    %p Thanks for your note. We'll do our best to get back to you right away.
{% endblock %}
