{% extends "_layout" %}
{% set navPage = 'testing' %}
{% block content %}

{% set counties = [] %}

{% for entry in craft.entries.section('testing') %}
{% set locations = [] %}

{% for location in entry.testingLocations %}
{% set name = '"name":"' ~ location.locationName ~ '"' %}
{% set latitude = '"latitude":"' ~ location.latitude ~ '"' %}
{% set longitude = '"longitude":"' ~ location.longitude ~ '"' %}
{% set address1 = '"address1":"' ~ location.address1 ~ '"' %}
{% set values = [name, latitude, longitude, address1] %}
{% set locations = locations | merge(['{' ~ values | join(',') ~ '}']) %}
{% endfor %}

{% set counties = counties | merge(['{"county":"' ~ entry.title ~ '","locations":[' ~ locations | join(',') ~ ']}']) %}
{% endfor %}

%main#main-content{ ng: { controller: 'testingCtrl', init: "counties={{- '[' ~ counties | join(',') ~ ']' -}}" } }
    %section.section_callout
        .container-fluid
            %h1.section--title.col-sm-6.col-sm-offset-3 Find a Testing Center
            .row
                .col-sm-12
                    %form.testing-form.form-inline
                        .form-group.col-xs-6
                            %input.form-control{ google: { place: '' }, ng: { model: 'searchPlace' } }
                        .form-group
                            %label Within
                            %select.form-control{ ng: { options: 'radius.value as radius.label for radius in withinRadius', model: 'searchRadius' } }
                        %button.btn.btn-default{ ng: { click: 'search()' } } Search

    %span{ ng: { show: 'searching', cloak: '' } }
        Showing {[{ totalSearchLocations }]} locations
        %button.btn.btn-default{ ng: { click: 'clearSearch()', show: 'searching', cloak: '' } } See all

    %section.section
        .container-fluid{ ng: { show: 'searching && totalSearchLocations === 0', cloak: '' } }
            .row
                .col-xs-12
                    No testing locations found around your area.
        .container-fluid{ ng: { repeat: 'county in closestCounties', cloak: '' } }
            %h1.section--title.col-sm-6.col-sm-offset-3 {[{ county.county }]}
            .post{ ng: { repeat: 'location in county.locations' } }
                .col-xs-10.col-xs-offset-1
                    .post--container
                        .row
                            .col-sm-7.col-sm-offset-1
                                %h2 {[{ location.name }]}
                                %p {[{ location.address1 }]}
                            .col-sm-3.col-sm-offset-1
                                %img.post--image{ ng: { attr_data_src: '{[{ location.map }]}' } }

{% endblock %}
