{% extends "_layout" %}
{% set navPage = 'testing' %}
{% block content %}
{% set counties = [] %}
{% for entry in craft.entries.section('testing') %}
{% set locations = [] %}
{% for location in entry.testingLocations %}
{% set name = '"name":"' ~ location.locationName ~ '"' %}
{% set latitude = '"latitude":"' ~ location.latitude ~ '"' %}
{% set longitude = '"longitude":"' ~ location.longitude ~ '"' %}
{% set address1 = '"address1":"' ~ location.address1 ~ '"' %}
{% set address2 = '"address2":"' ~ location.address2 ~ '"' %}
{% set city = '"city":"' ~ location.city ~ '"' %}
{% set state = '"state":"' ~ location.state ~ '"' %}
{% set zip = '"zip":"' ~ location.zip ~ '"' %}
{% set phone = '"phone":"' ~ location.phone ~ '"' %}
{% set phone2 = '"phone2":"' ~ location.phone2 ~ '"' %}
{% set website = '"website":"' ~ location.website ~ '"' %}
{% set hours = '"hours":"' ~ location.hours ~ '"' %}
{% set fees = '"fees":"' ~ location.fees ~ '"' %}
{% set eligiblePopulation = '"eligiblePopulation":"' ~ location.eligiblePopulation ~ '"' %}
{% set appointmentType = '"appointmentType":"' ~ location.appointmentType ~ '"' %}
{% set services = '"services":"' %}
{% for option in location.services %}
{{ option }}
{% set services = services ~ "," %}
{% endfor %}
{% set services = '"services":"' %}
{% set values = [name, latitude, longitude, address1, address2, city, state, zip, phone, phone2, website, hours, fees, eligiblePopulation, appointmentType] %}
{% set locations = locations | merge(['{' ~ values | join(',') ~ '}']) %}
{% endfor %}
{% set counties = counties | merge(['{"county":"' ~ entry.title ~ '","locations":[' ~ locations | join(',') ~ ']}']) %}
{% endfor %}
<main class='testing' id='main-content' ng-controller='testingCtrl' ng-init="counties={{- '[' ~ counties | join(',') ~ ']' -}}">
  <section class='section_blank section_bordered'>
    <div class='testing--jumbotron container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <img class='testing--ribbon' src='/images/ribbon.png'>
          <h1 class='section--title'>Know Your HIV Status</h1>
          <p class='testing--introduction'>New York State has made it easier than ever to get tested and learn your status today.</p>
          <p>Find a testing center within:</p>
          <form class='form-inline'>
            <div class='testing--location-form form-group col-sm-10'>
              <div class='testing--radius'>
                <select ng-model='searchRadius' ng-options='radius.value as radius.label for radius in withinRadius'></select>
              </div>
              <span class='testing--form-of'>of</span>
              <input class='form-control' google-place='' ng-model='searchPlace' placeholder='Your location' type='text'>
            </div>
            <div class='form-group col-sm-2'>
              <button class='testing--filter btn btn-secondary' ng-click='search()'>Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section ng-cloak='' ng-if='searching'>
    Showing {[{ totalSearchLocations }]} locations
    <button class='btn btn-default' ng-click='clearSearch()' ng-cloak='' ng-show='searching'>See all</button>
  </section>
  <section class='section' ng-cloak='' ng-if='searching &amp;&amp; totalSearchLocations === 0'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-12'>
          No testing locations found around your area.
        </div>
      </div>
    </div>
  </section>
  <section class='section_bordered'>
    <div class='container-fluid' ng-cloak='' ng-repeat='county in closestCounties'>
      <h1 class='section--title_secondary_centered col-sm-6 col-sm-offset-3' ng-attr-id='{[{ county.county }]}'>HIV Testing in {[{ county.county }]}</h1>
      <div class='row'>
        <div class='col-sm-6' ng-repeat='location in county.locations'>
          <div class='testing--location'>
            <div class='row'>
              <div class='testing--location-map'>
                <img ng-attr-data-src='{[{ location.map }]}'>
              </div>
              <div class='testing--location-overlay'></div>
              <div class='testing--location-name'>
                <h2>{[{ location.name }]}</h2>
                <p class='testing--location-address'>
                  {[{ location.address1 }]},
                  {[{ location.address2 ? location.address2 + ',' : '' }]}
                  {[{ location.city }]},
                  {[{ location.state }]},
                  {[{ location.zip }]}
                </p>
                <div class='testing--location-links'>
                  <a href='#'>
                    Website
                    <span class='geomicon-external'></span>
                  </a>
                  <a href='#'>
                    See it on a map
                    <span class='geomicon-location'></span>
                  </a>
                </div>
              </div>
              <div class='testing--location-details'>
                <p>{[{ location.website }]}</p>
                <p>{[{ location.hours }]}</p>
                <p>{[{ location.fees }]}</p>
                <p>{[{ location.eligiblePopulation }]}</p>
                <p>{[{ location.appointmentType }]}</p>
                <p>{[{ location.services }]}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
