{% extends "_layout" %}
{% set navPage = 'testing' %}
{% block content %}

{% set counties = [] %}

{% for entry in craft.entries.section('testing') %}
{% set locations = [] %}

{% for location in entry.testingLocations %}
{% set name = '"name":"' ~ location.locationName ~ '"' %}
{% set latitude = '"latitude":"' ~ location.latitude ~ '"' %}
{% set longitude = '"longitude":"' ~ location.longitude ~ '"' %}
{% set address1 = '"address1":"' ~ location.address1 ~ '"' %}
{% set address2 = '"address2":"' ~ location.address2 ~ '"' %}
{% set city = '"city":"' ~ location.city ~ '"' %}
{% set state = '"state":"' ~ location.state ~ '"' %}
{% set zip = '"zip":"' ~ location.zip ~ '"' %}

{% set phone = '"phone":"' ~ location.phone ~ '"' %}
{% set phone2 = '"phone2":"' ~ location.phone2 ~ '"' %}

{% set website = '"website":"' ~ location.website ~ '"' %}
{% set hours = '"hours":"' ~ location.hours ~ '"' %}
{% set fees = '"fees":"' ~ location.fees ~ '"' %}
{% set eligiblePopulation = '"eligiblePopulation":"' ~ location.eligiblePopulation ~ '"' %}
{% set appointmentType = '"appointmentType":"' ~ location.appointmentType ~ '"' %}
{% set services = '"services":["' ~ location.services | join('","') ~ '"]' %}

{% set values = [name, latitude, longitude, address1, address2, city, state, zip, phone, phone2, website, hours, fees, eligiblePopulation, appointmentType, services] %}
{% set locations = locations | merge(['{' ~ values | join(',') ~ '}']) %}
{% endfor %}

{% set counties = counties | merge(['{"county":"' ~ entry.title ~ '","locations":[' ~ locations | join(',') ~ ']}']) %}
{% endfor %}

%main#main-content.testing{ ng: { controller: 'testingCtrl', init: "counties={{- '[' ~ counties | join(',') ~ ']' -}}" } }
    %section.section_background_testing.section_bordered
        .section_background--overlay
        .testing--jumbotron.container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    %svg.testing--ribbon{ viewbox: '0 0 24 47.5' }
                        %use{ 'xlink:href' => '#ribbon' }
                    %h1.section--title Know Your HIV Status
                    %p.testing--introduction New York State has made it easier than ever to get tested and learn your status today.
                    %p Find a testing center within:
                    %form.form-inline
                        .testing--location-form.form-group.col-sm-10
                            .testing--radius
                                %select{ ng: { options: 'radius.value as radius.label for radius in withinRadius', model: 'searchRadius' } }
                            %span.testing--form-of of
                            %input.form-control{ type: 'text', google: { place: '' }, ng: { model: 'searchPlace' }, placeholder: 'Your location' }
                        .form-group.col-sm-2
                            %button.testing--filter.btn.btn-secondary{ ng: { click: 'search()' } } Filter

    %section.testing--notification{ ng: { if: 'searching', cloak: '' } }
        %span{ ng: { if: 'totalSearchLocations > 0' } } Showing {[{ totalSearchLocations }]} locations listed near {[{ searchPlaceShort }]}
        %span{ ng: { if: 'totalSearchLocations === 0' } } No testing locations listed near {[{ searchPlaceShort }]}
        %button.btn.btn-tertiary{ ng: { click: 'clearSearch()', show: 'searching', cloak: '' } } Clear filter

    %section.testing--no-locations{ ng: { if: 'searching && totalSearchLocations === 0', cloak: '' } }
        %p No testing locations listed nearby.
        %p
            Try a different search or
            %a{ ng: { click: 'clearSearch()' } } clear the search filters?

    %section.section_bordered{ ng: { hide: 'searching && totalSearchLocations === 0' } }
        .container-fluid{ ng: { repeat: 'county in closestCounties', cloak: '' } }
            %h1.section--title_secondary_centered.col-sm-6.col-sm-offset-3{ ng: { attr_id: '{[{ county.county }]}' } }<
                HIV Testing in {[{ county.county }]}
            .row
                .col-sm-6{ ng: { repeat: 'location in county.locations' } }
                    .testing--location
                        .row
                            .testing--location-map
                                %img{ ng: { attr_data_src: '{[{ location.map }]}' } }
                            .testing--location-overlay
                            .testing--location-name
                                %h2 {[{ location.name }]}
                                %p.testing--location-address
                                    {[{ location.address1 }]},
                                    {[{ location.address2 ? location.address2 + ',' : '' }]}
                                    {[{ location.city }]},
                                    {[{ location.state }]},
                                    {[{ location.zip }]}
                                %p.testing--location-phone
                                    {[{ location.phone }]}
                                .testing--location-links
                                    %a{ ng: { if: 'location.website', attr_href: '{[{ location.website }]}' } }<
                                        Website&nbsp;&nbsp;
                                        %span.geomicon-external<>
                                    %a{ ng: { attr_href: '{[{ location.externalMap }]}' } }<
                                        See it on a map&nbsp;&nbsp;
                                        %span.geomicon-location<>
                            .testing--location-details
                                .row
                                    .col-sm-4
                                        %label<>
                                            %span.geomicon-clock<>
                                            Hours
                                    .col-sm-8
                                        %p{ ng: { bind_html: 'location.hours' } }
                                .row
                                    .col-sm-4
                                        %label<>
                                            %span.geomicon-bank<>
                                            Cost
                                    .col-sm-8
                                        %p {[{ location.fees }]}
                                .row
                                    .col-sm-4
                                        %label<>
                                            %span.geomicon-people<>
                                            Eligibility
                                    .col-sm-8
                                        %p {[{ location.eligiblePopulation }]}
                                .row
                                    .col-sm-4
                                        %label<>
                                            %span.geomicon-calendar-day<>
                                            Appointment
                                    .col-sm-8
                                        %p{ ng: { bind_html: 'location.appointmentType' } }
                                .row
                                    .col-sm-4
                                        %label<>
                                            %span.geomicon-briefcase<>
                                            Services
                                    .col-sm-8
                                        %ul
                                            %li{ ng: { repeat: 'service in location.services' } }
                                                {[{ service }]}
{% endblock %}
