{% extends "_layout" %}
{% set navPage = 'about' %}
{% block content %}
<main id='main-content'>
  <section class='section_background_volunteer'>
    <div class='section_background--overlay'></div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <h1 class='section--title'>Get Involved</h1>
          {{ entry.pageIntroduction }}
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          {{ entry.descriptionWithContent }}
        </div>
      </div>
      {% for block in entry.callToActionButton %}
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
          <br>
          <a class='btn btn-secondary' href='{{ block.buttonLink }}'>{{ block.buttonText }}</a>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
