{% extends "_layout" %}
{% block content %}
<main id='main-content'>
  <section class='section'>
    <div class='container-fluid'>
      <h1 class='section--title col-sm-8 col-sm-offset-2'>{{ entry.title }}</h1>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>
          {% for block in entry.resourceLinks %}
          {% if block.type == "resourcesHeader" %}
          <h2>{{ block.resourceTitle }}</h2>
          {% endif %}
          {% if block.type == "resourceLink" %}
          <div>
            <label>{{ block.linkText }}</label>
            <p>
              <a href='{{ block.linkUrl }}'>{{ block.linkUrl }}</a>
            </p>
            <p>{{ block.description }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
